# Ignore assets
/drupal/sites/default/files

# Ignore environment settings
/drupal/sites/default/settings.php

# Ignore the participant core theme
/drupal/sites/all/themes/participant_core

# Ignore NetBeans project
/nbproject/

# Ignore Sublime SFTP settings
sftp-config.json

# Ignore backup and meta files
DEADJOE
.DS_Store
.AppleDouble
.idea

