body.tp_ad_takeover header{
  max-width: 980px;
  margin: 0 auto;
}
.slider-wrapper{
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-bottom: 10px;
}
.hero-slider .bxslider-container{
  max-width: 980px;
  margin: 0 auto;
  margin-top: 10px;
  position: relative;
}
.hero-slider ul{
  padding: 0;
}
.hero-slider img{
  width: 100%;
}
.hero-slider .field-name-field-video-media{
  max-width: 755px;
  margin: 0 auto;
}
.hero-slider .slider-title{
  font-family: "Apercu Regular", sans-serif;
  color: white;
  font-size: 43px;
  text-transform: uppercase;
}
.hero-slider .slider-content{
  max-width: 77%; /* 755/980 */
  width: 100%;
  display: block;
  margin: 0 auto;
  margin-top: 25px;
}
.hero-slider .slider-navigation{
  max-width: 980px;
  margin: 0 auto;
}
.hero-slider .slider-text{
  color: white;
  font-size: 14px;
  line-height: 20px;
  font-family: "Apercu Regular", sans-serif;
  margin-top: 20px;
  width: 50%;
  float: left;
}
.hero-slider .slider-cta{
  float: right;
  margin-top: 20px;
  width: 50%;
  display: block;
}
.hero-slider .slider-cta a.important{
  float: right;
  background: #0084A9;
}
.hero-slider .nav-arrow a{
  height: 100%;
  width: 100%;
  display: block;
}
.hero-slider .prev-slide a{
  position: absolute;
  bottom: 10px;
  left: 10px;
  height: 58px;
  width: 58px;
  display: block;
  background: url(../images/slide_nav_left.png) no-repeat;
}

.hero-slider .next-slide a{
  position: absolute;
  bottom: 10px;
  right: 10px;
  height: 58px;
  width: 58px;
  display: block;
  background: url(../images/slide_nav_right.png) no-repeat;
}

.hero-slider .prev-slide a:hover {
  background: url(../images/slide_nav_left_active.png) no-repeat;
}

.hero-slider .next-slide a:hover {
  background: url(../images/slide_nav_right_active.png) no-repeat;
}

.hero-slider .prev-slide a.disabled,  .hero-slider .prev-slide a.disabled:hover{
  background: url(../images/slide_nav_left_disabled.png) no-repeat;
  cursor: default;
}

.hero-slider .next-slide a.disabled, .hero-slider .next-slide a.disabled:hover {
  background: url(../images/slide_nav_right_disabled.png) no-repeat;
  cursor: default;
}

/* Upcoming */
.hero-slider .primetime{
  padding-top: 5px;
  a.important{
    color: black;
    background: white;
    &:after{
      background-image: url(../images/full_schedule_arrow.png);
    }
  }
}
.hero-slider .upcoming{
  background: transparent;
  box-shadow: none;
  max-width: 980px;
  margin: 0 auto;
}
@media (max-width: 768px) {
  .hero-slider .upcoming #upcoming-times{
    display: none;
  }
  .hero-slider .nav-arrow{
    display: none;
  }
  .hero-slider .slider-content{
    max-width: 100%;
    padding: 10px;
    margin: 0;
    padding-top: 15px;
  }
  .hero-slider .slider-text {
    max-width: 100%;
    width: 100%;
    float: none;
    margin-top: 5px;
  }
  .hero-slider .slider-cta{
    max-width: 100%;
    width: 100%;
  }
  .hero-slider .slider-cta a.important{
    float: none;
    display: block;
    margin: 0;
  }
  .hero-slider .primetime a.important{
    width: 100%;
  }
}
@media (max-width: 480px) {
  .hero-slider .slider-cta a.important{
    text-align: center;
  }
  .hero-slider .slider-title {
    font-size: 28px;
  }
}