html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
}
body.snapjs-left{
  overflow: hidden;
}
.snap-content {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
  z-index: 2;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transform: translate3d(0, 0, 0);
  -moz-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  -o-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.snap-drawers {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  width: auto;
  height: auto;
}
.drawers{
  display: none;
}
body.snapjs-left .drawers, body.snapjs-right .drawers{
  display: block;
}

.snap-drawer {
  position: absolute;
  top: 0;
  right: auto;
  bottom: 0;
  left: auto;
  width: 265px;
  height: auto;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
  -webkit-transition: width 0.3s ease;
  -moz-transition: width 0.3s ease;
  -ms-transition: width 0.3s ease;
  -o-transition: width 0.3s ease;
  transition: width 0.3s ease;
}

.snap-drawer-left {
  left: 0;
  z-index: 10;
}

.snap-drawer-right {
  right: 0;
  z-index: 10;
}

.snapjs-left .snap-drawer-right,
.snapjs-right .snap-drawer-left {
  display: none;
}

.snapjs-expand-left .snap-drawer-left,
.snapjs-expand-right .snap-drawer-right {
  width: 100%;
}

/* Show "Left" drawer for the "Right" drawer in the demo */
.snapjs-right .snap-drawer-left {
  display: block;
  right: 0;
  left: auto;
}

/* Hide the actual "Right" drawer in the demo */
.snapjs-right .snap-drawer-right {
  display: none;
}

/* Styles for fading out the drawer content in the "Expanding" demo */
.drawer-inner {
  -webkit-transition: opacity 0.3s ease;
  -moz-transition: opacity 0.3s ease;
  -ms-transition: opacity 0.3s ease;
  -o-transition: opacity 0.3s ease;
  transition: opacity 0.3s ease;
}

.snapjs-expand-left .drawer-inner,
.snapjs-expand-right .drawer-inner {
  opacity: 0;
}

/* Default demo styles */
.snap-content {
  background: #BFC7D8;
}

.snap-drawers {
  background: #616161;
}

.snap-drawer {
  background: #616161;
  color: #eee;
}

.snap-drawer h3 {
  font-size: 36px;
  font-weight: normal;
  margin: 15px;
}

.snap-drawer h4 {
  padding: 15px;
  border-top: 1px solid rgba(255, 255, 255, 0.1);
  margin-bottom: 0;
}

.snap-drawer ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
}

.snap-drawer li > a {
  display: block;
  font-family: "Apercu Regular";
  font-size: 15px;
  border-bottom: 1px solid #ccc;
  padding: 15px;
  font-weight: 100;
  text-transform: uppercase;
  text-decoration: none;
  color: #fff;
  &:hover{
    background: #333;
  }
}

/* Overrides */
.snap-drawer p {
  opacity: 0.5;
  padding: 15px;
  font-size: 12px;
}
.snap-drawer li{
  margin: 0;
}
#megamenu .item-list ul{
  margin: 0;
  padding: 0;
}
