/* ============================================================
|| Global;
============================================================ */
@media (max-width: 1000px) {
	#content .primary,
	#content .secondary {
		float: none;
		margin: 0 auto;
	}
	#content .secondary {
		text-align: center;
	}
	#content .secondary .section {
		text-align: left;
	}
}

/* Promo List */
@media (max-width: 680px) {
	.promo-list .half {
		display: block;
		width: 100%;
	}
	.promo-list .promo img {
		display: none;
	}
	.promo-list .promo .info {
		position: relative;
		width: 100%;
		padding: 0 5%;
	}
}


/* ============================================================
|| Section: Home Page;
============================================================ */
/* Hero Header */
@media (max-width: 680px) {
	.front #home-header {
		padding-left: 5%;
		padding-right: 5%;
	}
	.front #home-header .pivot-headline,
	.front #home-header .secondary {
		float: none;
		margin: 0 auto 20px auto;
		text-align: center;
	}
	// Made edits
	.front #home-header .secondary .social ul {
		float: none;
	}
	// End edits
	.front #home-header .secondary .social .item {
		float: none;
		display: inline-block; *display: inline; *zoom: 1;
		vertical-align: middle;
	}
	.front #home-header .secondary .find .important {
		white-space: normal;
	}
}
/* Hero Slides */
@media (max-width: 1600px) {
	.front .video-content .promo {
		width: 60%;
	}
	.front .video-content .primary {
		width: 40%;
	}
	.front .video-content .primary .headline {
		font-size: 50px;
	}
	.front .video-content .primary .description {
		font-size: 20px;
	}
}
@media (max-width: 1100px) {
	.front .video-content .promo img {
		display: none;
	}
	.front .video-content .primary {
		margin-left: 40%;
		width: 60%;
	}
}
@media (max-width: 680px) {
	.front .video-content .primary {
		width: 100%;
		padding-left: 5%;
		padding-right: 5%;
		margin-left: 0;
	}
}

/* Show */
@media (max-width: 680px) {
	.show .show-actions .half {
		width: 100%;
	}
}

/* Hero Nav */
@media (max-width: 1100px) {
	.front .slide-nav .item-title {
		display: none;
	}
}
@media (max-width: 767px) {
	.home .slide-wrapper .video-player{
		display: none;
  }
}

/* Upcoming Bar */
@media (max-width: 979px) {
	.upcoming .headline {
		white-space: normal;
	}

	.upcoming .full-schedule .important {
		white-space: normal;
	}
}
@media (max-width: 767px) { /* iPad vertical */
	.upcoming .headline {
		display: none;
	}
}
@media (max-width: 480px) { /* iPhone vertical */
	.upcoming .times {
		display: none;
	}
}