$zen-column-count: 12;
$zen-gutter-width: 20px;

.site-wrapper {
	@include zen-grid-container;
	max-width: 980px;
	margin: auto;
	padding: 20px 10px;
}
	
#content {
	// .primary is 2/3 width if there's no sidebar,
	// full width if there is one
	> .primary {
		max-width: 620px; // border-box includes padding
		margin: 0 auto;
		@media (min-width: 1000px) {
			max-width: 960px; // border-box includes padding
			@include zen-grid-item(12,1);
			&.with-sidebar {
				@include zen-grid-item(8,1);
			}			
		}
	}

	> .secondary {
		width: 300px;
		margin: 0 auto;
		text-align: center;
		@media (min-width: 1000px) {
			@include zen-grid-item(4,9);

			.page-views & {
				margin-top: 54px;
			}
		}
	}
}

/*
 * Pivot curated content panel
 */
.panel-pivot-curated {
	//  overflow: hidden;
	margin-top: 0;
	padding-top: 0;

	.panel-col-top {
		width: 99.9%;
		clear: both;

	}

	.panel-col-first,
	.panel-col-last {
		width: 300px;
		margin: 0 auto;

		@media (min-width: 681px) {
			margin: 0;
		}
	}

	@media (min-width: 681px) {
		.panel-col-first { float: left; }		
		.panel-col-last { float: right; }
	}

	.panel-separator {
	  margin: 0; // do this in the individual nodes
	}
}
