/*
 * Homepage Styles for Pivot.tv
 */

/* Home Page
------------------------------------------------------------ */

body.front {
	height: 100%;
}

// TODO This id doesn't appear in the markup
// .front #site-header {
// 	display: none;
// }

.front #main {
	min-height: 100%;
	padding: 0;
	background: transparent;
}

// TODO what is this?
// .front #wrapper {
// 	width: auto;
// 	height: 100%;
// }

.front {
	.panel-col-top {
		.node-video.node-teaser {

			.field-name-field-video-longtail-video-id {
				margin-bottom: 10px;
			}

			.headline {
              font-size: 1.2em;
              margin-bottom: 15px;
              text-transform: uppercase;
              font-family: "Apercu Bold Italic";
              font-style: italic;
              font-size: 24px;
              color: #0084a9;
			}

			.field-name-body {
				font-size: 16px;
				line-height: 1.5;
			}
		}
	}

	.secondary {
	}

}

// TODO mw not using this

// .front #what-is-pivot .headline .pivot {
// 	background-repeat: no-repeat;
// 	background-image: url(../images/pivot_medium_black_colored.png);
// 	width: 80px;
// 	height: 28px;
// 	display: inline-block;
// 	white-space: nowrap;
// 	text-indent: 100%;
// 	overflow: hidden;
// 	vertical-align: text-bottom;
// }

