.front #home-header {
	position: absolute;
	left: 0;
	top: 0;
	padding: 4em 4em 0 4em;
	z-index: 4;
	color: #fff;
	width: 100%;
}

.front #home-header .pivot-headline {
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	width: 224px;
	height: 87px;
	background-repeat: no-repeat;
	background-image: url(../images/logo.png);
	float: left;
}
.front #home-header .pivot-headline-dark {
	overflow: hidden;
	text-indent: 100%;
	white-space: nowrap;
	width: 224px;
	height: 87px;
	background-repeat: no-repeat;
	background-image: url(../images/logo.png);
	float: left;
}
.front #home-header .secondary {
	float: right;
}

.front #home-header .social {
	width: 100%;
	margin-bottom: 15px;
	display: inline-block; *display: inline; *zoom: 1;
	vertical-align: top;
}
// Made edits
.front #home-header .social .item {
	display: inline-block;
	text-indent: 100%;
	overflow: hidden;
	white-space: nowrap;
	width: 32px;
	height: 32px;
	background-repeat: no-repeat;
  background-size: 32px 32px;
	margin-left: 11px;
}
.front #home-header .social ul{
  float: right;
  padding-left:17px;
}
// End edits
.front #home-header .social .facebook {
	background-image: url(../images/social_mono_white_facebook.png);
}

.front #home-header .social .googleplus {
	background-image: url(../images/social_mono_white_googleplus.png);
}

.front #home-header .social .instagram {
	background-image: url(../images/social_mono_white_instagram.png);
}
.front #home-header .social .twitter {
  background-image: url(../images/social_mono_white_twitter.png);
}

.front #home-header .social .youtube {
  background-image: url(../images/social_mono_white_youtube.png);
}


.front #home-header .social .facebook:hover {
  background-image: url(../images/social_mono_blue_facebook.png);
}

.front #home-header .social .googleplus:hover {
  background-image: url(../images/social_mono_blue_googleplus.png);
}

.front #home-header .social .instagram:hover {
  background-image: url(../images/social_mono_blue_instagram.png);
}
.front #home-header .social .twitter:hover {
  background-image: url(../images/social_mono_blue_twitter.png);
}

.front #home-header .social .youtube:hover {
  background-image: url(../images/social_mono_blue_youtube.png);
}


.front #home-header .social .item a {
	display: block;
	height: 100%;
}

.front #main {
	min-height: 100%;
	background: transparent;
}

.front #wrapper {
	width: auto;
	height: 100%;
}

.front #video {
	background: #000;
}

.front .video-player,
.front .video-image {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
}

.front .active .video-player {
	z-index: 2;
	opacity: 1;
}

.front .video-image.loaded {
	opacity: 1;
}

.front .video-player,
.front .slide:first-child .video-image {
	-webkit-transition: opacity .1s linear .1s;
	transition: opacity .1s linear .1s;
}

.front .slide {
	white-space: normal;
}

.front .slide .active .video-image {
	opacity: 1;
	z-index: 1;
}

.front .video-content {
	position: relative;
	z-index: 3;
	color: #fff;
	width: 100%;
	height: 100%;
	padding-top: 210px;
}

.front .video-content-inner {
	position: absolute;
	bottom: 0;
	width: 100%;
}

.front .video-content .promo img {
	display: block;
	box-shadow: 15px 14px 20px rgba(0, 0, 0, 0.5);
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
}

.front .video-content .promo,
.front .video-content .primary {
	display: inline-block; *display: inline; *zoom: 1;
	vertical-align: top;
}

.front .video-content .promo {
	width: 40%;  //originally 50%
	vertical-align: bottom;
}

.front .video-content .primary {
  width: 60%;  //originally 50%
  font-size: 24px;
  line-height: 1.6;
  padding: 40px 10px 5% 50px;
  position: relative;
}
.front .video-content .primary:after {
  content: " ";
  display: block;
  height: 100%;
  background: none;
  width: 200%;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: -1;

  background: -moz-linear-gradient(45deg,  rgba(19,18,21,0.2) 0%, rgba(255,255,255,0.2) 50%, rgba(67,67,67,0.2) 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%,rgba(19,18,21,0.2)), color-stop(50%,rgba(255,255,255,0.2)), color-stop(100%,rgba(67,67,67,0.2))); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg,  rgba(19,18,21,0.2) 0%,rgba(255,255,255,0.2) 50%,rgba(67,67,67,0.2) 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg,  rgba(19,18,21,0.2) 0%,rgba(255,255,255,0.2) 50%,rgba(67,67,67,0.2) 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg,  rgba(19,18,21,0.2) 0%,rgba(255,255,255,0.2) 50%,rgba(67,67,67,0.2) 100%); /* IE10+ */
  background: linear-gradient(45deg,  rgba(19,18,21,0.2) 0%,rgba(255,255,255,0.2) 50%,rgba(67,67,67,0.2) 100%); /* W3C */

  border-bottom: 6px solid rgba(0,0,0,.2);

  box-shadow: 25px 25px 29px 14px rgba(0, 0, 0, .19);
}

.front .video-content .primary .headline {
	font-size: 60px;
	font-weight: bold;
	font-style: italic;
	white-space: nowrap;
  margin: 0;
  margin-bottom: 15px;
}

.front .video-content .primary .description {
	margin-bottom: 15px;
	font-family: "Apercu Mono Regular", monospace;
}
.front .slide-wrapper .tpslide_slide .video-content {
	opacity: 0;
	transition: opacity .3s ease-in 0;
	-webkit-transition: opacity .3s ease-in 0;
}

.front .slide-wrapper .tpslide_slide.active .video-content {
	opacity: 1;
}


/* Top slide */
.front #topslide {
	height: 100%;
	background: #000;
	position: relative;
}

.front #topslide a.important {
	background: #0084A9;

	-webkit-transition: background-color .1s linear .1s;
	transition: background-color .1s linear .1s;
}
.front #topslide a.important:hover,
.front #topslide a.important:focus {
	background: #0090B8;
}

.front .slide-nav {
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	background: #000;
	z-index: 99;
	display: table;
	color: #fff;
	height: 80px;
}

.front .slide-nav .headline {
	display: none;
}

.front .slide-nav a {
	display: block;
	position: relative;
	line-height: 80px;
	white-space: nowrap;
	color: #00b5cc;
}

.front .slide-nav .active a,
.front .slide-nav a:hover,
.front .slide-nav a:focus {
	color: #fff;
	text-decoration: none;
}

.front .slide-nav a:before {
	content: " ";
	display: inline-block;
	background-repeat: no-repeat;
	margin-right: 11px;
	vertical-align: text-bottom;
}

.front .slide-nav .shows a:before {
	width: 28px;
	height: 27px;
	background-image: url(../images/home_shows_off.png);
}

.front .slide-nav .shows.active a:before,
.front .slide-nav .shows a:hover:before,
.front .slide-nav .shows a:focus:before {
	background-image: url(../images/home_shows_on.png);
}

.front .slide-nav .movies a:before {
	width: 29px;
	height: 28px;
	background-image: url(../images/home_movies_off.png);
}

.front .slide-nav .movies.active a:before,
.front .slide-nav .movies a:hover:before,
.front .slide-nav .movies a:focus:before {
	background-image: url(../images/home_movies_on.png);
}

.front .slide-nav .watch_now a:before {
	width: 27px;
	height: 28px;
	background-image: url(../images/home_watch_off.png);
}

.front .slide-nav .watch_now.active a:before,
.front .slide-nav .watch_now a:hover:before,
.front .slide-nav .watch_now a:focus:before {
	background-image: url(../images/home_watch_on.png);
}

.front .slide-nav .take_action a:before {
	width: 33px;
	height: 28px;
	background-image: url(../images/home_action_off.png);
}

.front .slide-nav .take_action.active a:before,
.front .slide-nav .take_action a:hover:before,
.front .slide-nav .take_action a:focus:before {
	background-image: url(../images/home_action_on.png);
}

.front .slide-nav .schedule a:before {
	width: 29px;
	height: 28px;
	background-image: url(../images/home_schedule_off.png);
}

.front .slide-nav .schedule.active a:before,
.front .slide-nav .schedule a:hover:before,
.front .slide-nav .schedule a:focus:before {
	background-image: url(../images/home_schedule_on.png);
}

.front .slide-nav .blog a:before {
	width: 22px;
	height: 28px;
	background-image: url(../images/home_blog_off.png);
}

.front .slide-nav .blog.active a:before,
.front .slide-nav .blog a:hover:before,
.front .slide-nav .blog a:focus:before {
	background-image: url(../images/home_blog_on.png);
}

.front .slide-nav .item {
	position: relative;
	text-align: center;
	width: 16.66%;
	float: left;
}

.front .slide-nav .item:after {
	display: block;
	position: absolute;
	right: 0;
	top: 0;
	width: 1px;
	height: 100%;
	overflow: hidden;
	content: " ";

	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 20%,rgba(255,255,255,0.25) 40%,rgba(255,255,255,0.25) 60%,rgba(255,255,255,0) 80%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0) 20%,rgba(255,255,255,0.25) 40%,rgba(255,255,255,0.25) 60%,rgba(255,255,255,0) 80%,rgba(255,255,255,0) 100%); /* W3C */
}

.front .slide-nav .list:last-child:after {
	display: none;
}

.front .slide-wrapper {
	white-space: nowrap;
	width: 100%;
	height:100%;
	overflow: hidden;
}

.front .slide-wrapper .slide {
	display: inline-block;
	width: 100%;
	height:100%;
	position: relative;
	overflow: hidden;
	padding: 57px 0 80px 0;
}

.front .tpslide_nav {
	display: none;
}

.front .tpslide_wrapper {
	display: block;
}

/**
 * TODO mw removed all duplicate CSS below this
 * since CSS doesn't nest comments and it was messing up
 * LITERALLY EVERYTHING.
 */




 /**
 *
 *Added CSS from static
 *
 */
 .front #home-header .pivot-headline.dark {
	background-image: url(../images/logo-dark.png);
}
a:focus, a::-moz-focus-inner {
  border: 0;
  outline: none;
}
