/*
 * Global Pivot.tv styles
 */

/*
	Hacks:
		Targetting IE7:
			*+html [selector] {}
		Display inline-block on block-level element for IE6/7
			div {
				display: inline-block; *display: inline; zoom: 1; vertical-align: bottom;
			}
*/

/* ============================================================
|| General
============================================================ */

* {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #999;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #999;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #999;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #999;
}

html {
	height: 100%;
	font-size: 20px;
	overflow-y: scroll;
}

div,
embed,
object {
	max-width: 100%;
}


body {
	font-size: 20px;
	background: #f1f3f4;
	background-image: url(../images/bg.png);
	font-family: Helvetica,Arial,sans-serif;
	position: relative;
	font-family: "Apercu Regular", sans-serif;
}

a:link,
a:visited {
	text-decoration: none;
	color: #1CA9E7;
}

a:hover,
a:active {
	text-decoration: underline;
}

// TODO this doesn't appear in the homepage comp

/* Header */
// #site-header {
// 	display: inline-block; *display: inline; zoom: 1;
// 	vertical-align: top;
// 	width: 100%;
// }

// #site-header .nav {
// 	float: left;
// 	width: 100%;
// }

// #site-header .nav li {
// 	float: left;
// }

// #site-header .nav li a {
// 	font-size: 14px;
// 	display: block;
// 	padding: 1em;
// }

// #site-header .block-search {
// 	float: left;
// }

/* ============================================================
|| Main content area
============================================================ */




/* ============================================================
|| Global Footer
============================================================ */

#site-footer {
	background: #424242 url(../images/secondary-background.gif) left top repeat;
	color: #ccc;
	float: left;
	width: 100%;
	position: relative;
	z-index: 2;
	overflow: hidden;
	box-shadow: inset 0px 10px 20px 0px rgba(0, 0, 0, .25);

	.block-pivot-global {
		margin: 0;
	}

	.site-wrapper {
		padding: 1em 0;
		text-align: center;
	}

	a {
		color: #ccc;
	}

	.nav {
		display: inline-block; *display: inline; *zoom: 1;

		.headline,
		.menu,
		.menu li {
			display: inline-block; *display: inline; *zoom: 1;
			vertical-align: middle;
			font-size: 13px;
		}

		.headline {
			display: inline-block; *display: inline; *zoom: 1;
			margin: 0;
			font-size: 13px;
			line-height: 45px;
			font-family: "Apercu Mono Regular", monospace;
			text-transform: uppercase;
		}

		.menu {
			margin: 0;
			padding: 0;
			li {
				list-style-type: none;
				list-style-image: none;
				margin-left: 12px;
				margin-bottom: 0;
			}
		}

	}

	.footer-main-nav {
		float: none;
		margin: 1em auto 1.25em;
		// line-height: 1.5em;

		.headline { display: none; }
		.menu { margin: 0; padding: 0 }
		.menu li {
			display: inline-block; *display: inline; *zoom: 1;
			vertical-align: top;
			margin: 0 10px 5px;

			a { padding: 5px; }
		}
	}

	.secondary {
		display: table;
		float: none;
		width: auto;
		margin: 0 auto 1.5em;
		line-height: 45px;
	}

	.footer-follow-nav,
	.footer-apps-nav {
		margin: 0 1.35em 5px 0;

		a {
			display: inline-block;
			margin: 0;
			width: 38px;
			height: 38px;
			white-space: nowrap;
			text-indent: 100%;
			overflow: hidden;
			background-repeat: no-repeat;
		}
	}

	.facebook {
		background-image: url(../images/social_mono_blue_facebook.png);
	}

	.twitter {
		background-image: url(../images/social_mono_blue_twitter.png);
	}

	.youtube {
		background-image: url(../images/social_mono_blue_youtube.png);
	}

	.googleplus {
		background-image: url(../images/social_mono_blue_googleplus.png);
	}

	.instagram {
		background-image: url(../images/social_mono_blue_instagram.png);
	}

	.ios-app {
		background-image: url(../images/footer_mono_blue_ios.png);
	}

	.android-app {
		background-image: url(../images/footer_mono_blue_android.png);
	}


	.footer-participant-nav {
		display: block;
		a {
			display: inline-block;
			white-space: nowrap;
			text-indent: 100%;
			overflow: hidden;
			background-repeat: no-repeat;
		}

		.participant-media {
			background-image: url(../images/footer_participant_participant.png);
			width: 113px;
			height: 24px;
			vertical-align: middle;
		}

		.takepart {
			background-image: url(../images/footer_participant_takepart.png);
			width: 45px;
			height: 45px;
		}

		.pivot {
			background-image: url(../images/footer_participant_pivot.png);
			width: 48px;
			height: 16px;
		}
	}

	#copyright {
		margin-bottom: 1em;

		p {
			font-size: 12px;
			text-align: center;
			color: #999;
		}
	}
}


/* ============================================================
|| Modules
============================================================ */


.promo {
	position: relative;
	margin-bottom: 1em;

	a { color: black; }

	img {
		display: block;
		// @media (max-width: 680px) {
		// 	display: none;
		// }
	}

	.info {
		background-color: rgba(255,255,255,.8);
		line-height: 98px;
		padding: 0 5%;

		position: absolute;
		left: 0;
		bottom: 0;
		width: 234px;
		height: 98px;
		padding: 0 36px;
	}

	.info-inner {
		display: inline-block; *display: inline; zoom: 1;
		line-height: 1;
		vertical-align: middle;
	}

	.field-name-field-promo-headline {
		font-size: 1.2em; // 24px
		color: #0084a9;
		font-style: italic;
		font-weight: bold;
	}

	.field-name-field-promo-abstract {
		font-size: 13px;
		font-family: "Apercu Mono Regular", monospace;
	}
}


/* ============================================================
|| Modules
============================================================ */

/* Skip link */

// TODO mw
// Removed this in favor of the native zen markup

// .skip-link a {
// 	position: absolute !important;
// 	clip: rect(1px 1px 1px 1px);
// 	clip: rect(1px, 1px, 1px, 1px);
// 	overflow: hidden;
// 	height: 1px;
// 	text-decoration: underline;
// }

// .skip-link a:active,
// .skip-link a:focus {
// 	position: static !important;
// 	clip: auto;
// 	overflow: visible;
// 	height: auto;
// }

/* "Buttons" */
a.important:link,
a.important:visited {
	text-decoration: none;
	color: #fff;
	background-color: #01bf9e;
	font-size: 16px;
	line-height: 18px;
	white-space: nowrap;
	display: inline-block;
	padding: 8px 39px 8px 19px;
	border-radius: 3px;
	text-transform: uppercase;
	position: relative;
	box-shadow: 0 3px 0 rgba(50, 50, 50, 0.75);
}

a.important:after {
	content: " ";
	display: block;
	position: absolute;
	right: 19px;
	top: 50%;
	margin-top: -9px;
	background-repeat: no-repeat;
	background-image: url(../images/rightarrow_small.png);
	width: 11px;
	height: 18px;
	-webkit-transition: right .1s linear .1s;
	transition: right .1s linear .1s;
}

a.important:hover:after {
	right: 10px;
}

a.important .pivot {
	display: inline-block;
	background-repeat: no-repeat;
	background-image: url(../images/pivot_small_white.png);
	width: 48px;
	height: 16px;
	text-indent: 100%;
	white-space: nowrap;
	overflow: hidden;
	vertical-align: bottom;
}

/* Top? Schedule */
.upcoming {
	position: absolute;
	width: 100%;
	z-index: 5;
	background: #000 url(../images/secondary-background.gif) left top repeat;
	height: 57px;
	color: #fff;
	display: table;

	box-shadow: inset 0px -10px 20px 0px rgba(0, 0, 0, .25);
}

.upcoming a {
	color: #01bf9e;
}

.upcoming .inner {
	display: table-row;
}

.upcoming .headline a {
	font-size: 24px;
	text-transform: uppercase;
	font-weight: bold;
	font-style: italic;
	padding: 5px 25px 5px 10px;
	position: relative;
	text-align: right;
	white-space: nowrap;
	color: #fff;
}

.upcoming .headline a:after {
	content: " ";
	display: block;
	position: absolute;
	right: 5px;
	top: 50%;
	margin-top: -11px;
	width: 11px;
	height: 22px;
	background-repeat: no-repeat;
	background-image: url(../images/rightarrow_medium.png);
	vertical-align: middle;
}

.upcoming .headline,
.upcoming .times,
.upcoming .full-schedule,
.upcoming .times .item {
	display: table-cell;
	vertical-align: middle;
}

.upcoming .times .item {
	font-family: "Apercu Mono Regular", monospace, sans-serif;
	font-size: 14px;
	position: relative;
	text-align: center;
	padding: 0 5px;
}

.upcoming .times .inner {
	display: table;
	margin: auto;
}

.upcoming .times .item:before {
	content: " ";
	width: 1px;
	height: 100%;
	display: block;
	position: absolute;
	left: 0;
	top: 0;

	background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.25) 40%,rgba(255,255,255,0.25) 60%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(255,255,255,0.25) 40%,rgba(255,255,255,0.25) 60%,rgba(255,255,255,0) 100%); /* W3C */
}

.upcoming .times .item:first-child:before {
	display: none;
}

.upcoming .times .item:after {
	content: " ";
	width: 1px;
	display: block;
	height: 100%;
	position: absolute;
	right: 0;
	top: 0;

	background: -webkit-linear-gradient(top,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.25) 40%,rgba(0,0,0,0.25) 60%,rgba(0,0,0,0) 100%); /* Chrome10+,Safari5.1+ */
	background: linear-gradient(to bottom,  rgba(0,0,0,0) 0%,rgba(0,0,0,0.25) 40%,rgba(0,0,0,0.25) 60%,rgba(0,0,0,0) 100%); /* W3C */
}

.upcoming .times .time,
.upcoming .times .show {
	padding: 0 5px;
}

.upcoming .full-schedule {
	padding: 0 5px;
}

/* Pretty form selects */

.tpselect_wrapper {
	display: inline-block;
	height: 30px;
	line-height: 30px;
	background: #f2f2f2;
	border-radius: 2px;
	box-shadow: 0 3px 0 rgba(50, 50, 50, 0.75);
	vertical-align: bottom;
}

.tpselect_wrapper.tpselect_focus {
	background: #000;
	color: #fff;
}

.tpselect_wrapper select {
	height: 100%;
	width: 100%;
}

.tpselect_wrapper .tpselect_value {
	position: relative;
	display: block;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
	padding: 0 46px 0 11px;
	font-size: 13px;
	font-family: "Apercu Mono Regular", monospace;
}

.tpselect_wrapper .tpselect_value:after {
	display: block;
	content: " ";
	background-image: url(../images/form_dropdown_button.png);
	width: 35px;
	height: 30px;
	position: absolute;
	right: 0;
	top: 0;
}

/* Find pivot right rail */

// TODO mw
// per JP, this is going to be an iframe widget

// .find-pivot {
// 	padding: 16px 10px;
// 	background: #fff;
// 	position: relative;
// }

// .find-pivot label {
// 	position: absolute;
// 	right: 0;
// 	top: 0;
// 	width: 10px;
// 	height: 16px;
// 	white-space: nowrap;
// 	text-indent: 100%;
// 	overflow: hidden;
// }

// .find-pivot .tpselect_value {
// 	width: 130px;
// }

// .find-pivot .headline {
// 	color: #424242;
// 	font-size: 1.05em;
// 	text-transform: uppercase;
// 	margin-bottom: 13px;
// }

// .find-pivot .headline .pivot {
// 	display: inline-block;
// 	text-indent: 100%;
// 	white-space: nowrap;
// 	overflow: hidden;
// 	width: 64px;
// 	height: 22px;
// 	background-repeat: no-repeat;
// 	background-image: url(../images/pivot_medium_black.png);
// 	vertical-align: text-bottom;
// }

// .find-pivot .text {
// 	width: 100px;
// 	height: 30px;
// 	line-height: 30px;
// 	font-size: 18px;
// 	background: #f2f2f2;
// 	border-radius: 3px;
// 	border: none;
// 	padding: 0 7px;
// 	box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, .1);
// }

// .find-pivot .submit {
// 	display: inline-block;
// 	text-indent: 200%;
// 	white-space: nowrap;
// 	overflow: hidden;
// 	width: 30px;
// 	height: 30px;
// 	background-repeat: no-repeat;
// 	background-position: 11px 6px;
// 	background-image: url(../images/rightarrow_small.png);

// 	color: #666;
// 	font-size: 13px;
// 	position: relative;
// 	border: none;
// 	background-color: #01bf9e;
// 	border-radius: 3px;
// 	box-shadow: 0 3px 0 rgba(50, 50, 50, 0.75);
// 	vertical-align: top;
// }

/* ============================================================
|| Dev CSS Rules
============================================================ */

#themer-toggle {
	z-index: 99999;
}