#block-pivot-hpslider-hpslider.block{
  margin-bottom: 20px;
}
.slider ul{
  margin: 0;
  padding: 0;
}
body.tp_ad_takeover header{
  max-width: 980px;
  margin: 0 auto;
}
.slider-wrapper{
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  padding-bottom: 36px;
  
  @media (max-width: 767px) {
    //padding-bottom: 10px;
  }
}
.hero-slider .bxslider-container{
  max-width: 980px;
  margin: 0 auto;
  position: relative;
}
.hero-slider ul{
  padding: 0;
}
.hero-slider img{
  width: 100%;
  max-width: 940px;
}
.hero-slider .field-name-field-video-media{
  max-width: 755px;
  margin: 0 auto;
}
.hero-slider .slider-title{
  font-family: "Apercu Bold", sans-serif;
  color: white;
  font-size: 45px;
  text-transform: uppercase;
}
.hero-slider .slider-content{
  max-width: 77%; /* 755/980 */
  width: 100%;
  display: block;
  margin: 0 auto;
  margin-top: 25px;
}
.hero-slider .slider-navigation{
  max-width: 980px;
  margin: 0 auto;
}
.hero-slider .slider-text{
  color: white;
  font-size: 15px;
  line-height: 22px;
  font-family: "Apercu Regular", sans-serif;
  margin-top: 12px;
  width: 50%;
  float: left;

  @media (max-width: 767px) {
    margin-top: 20px;
  }
}
.hero-slider .slider-cta{
  float: right;
  margin-top: 12px;
  width: 50%;
  display: block;
  
  @media (max-width: 767px) {
    margin-top: 20px;
  }
}
.hero-slider .slider-cta a.important{
  float: right;
  background: #0084A9;
}
.hero-slider .nav-arrow{
  display: none;
  @include breakpoint($breakpoint-tablet){
    display: block;
  }
}
.hero-slider .nav-arrow a{
  display: block;
  position: absolute;
  bottom: 0px;
  height: 58px;
  width: 27px;
  &:focus{
    outline: none;
  }

}
.hero-slider .prev-slide a{
  left: 20px;
  background: url(../images/slide_nav_left.png) no-repeat;
  @include breakpoint($breakpoint-desktop){
    left: 35px;
  }
}

.hero-slider .next-slide a{
  right: 20px;
  background: url(../images/slide_nav_right.png) no-repeat;
  @include breakpoint($breakpoint-desktop){
    right: 35px;
  }
}

.hero-slider .prev-slide a:hover {
  background: url(../images/slide_nav_left_active.png) no-repeat;
}

.hero-slider .next-slide a:hover {
  background: url(../images/slide_nav_right_active.png) no-repeat;
}

.hero-slider .prev-slide a.disabled,  .hero-slider .prev-slide a.disabled:hover{
  background: url(../images/slide_nav_left_disabled.png) no-repeat;
  cursor: default;
}

.hero-slider .next-slide a.disabled, .hero-slider .next-slide a.disabled:hover {
  background: url(../images/slide_nav_right_disabled.png) no-repeat;
  cursor: default;
}

/* Upcoming */
.hero-slider .primetime{

  a.important{
    color: black;
    background: white;
    &:after{
      background-image: url(../images/full_schedule_arrow.png);
    }
  }
}
.hero-slider .upcoming{
  background: transparent;
  box-shadow: none;
  max-width: 960px;
  padding: 0 10px;
  margin: 0 auto;
}
.hero-slider .upcoming #upcoming-times{
  display: none;
  @include breakpoint($breakpoint-tablet){
    display: table-cell;
  }
}
@media (max-width: 767px) {
  .hero-slider .slider-content{
    max-width: 100%;
    padding: 10px;
    margin: 0;
    padding-top: 15px;
  }
  .hero-slider .slider-text {
    max-width: 100%;
    width: 100%;
    float: none;
    margin-top: 5px;
  }
  .hero-slider .slider-cta{
    max-width: 100%;
    width: 100%;
  }
  .hero-slider .slider-cta a.important{
    float: none;
    display: block;
    margin: 0;
  }
  .hero-slider .primetime a.important{
    width: 100%;
  }
}
@media (max-width: 480px) {
  .hero-slider .slider-cta a.important{
    text-align: center;
  }
  .hero-slider .slider-title {
    font-size: 30px;
  }
}
.media{
  width: 100%;
  padding: 0 10px;
  padding-top: 10px;
  @include breakpoint($breakpoint-desktop){
    padding: 0 20px;
  }
}
.media.video{
  max-width: 755px;
  width: 100%;
  margin: 0 auto;
  .field-name-field-video-media{
    padding-bottom: 56.49867%;
    height: 0;
  }
}