// nothing
// promos are in the global partial
@media (max-width: 767px) { /* iPad vertical */
  .hero-header .show-hero .headline {
    position: static;
    bottom: 0;
  }
  .hero-header .nav {
    background: #424242;
    margin-top: 0;
    z-index: 0;
    opacity:1;
  }

  .hero-header .show-hero .headline a {
    background: transparent;
    padding: 0 0 .5em 0;
  }

  .hero-header .show-hero .image {
    position: relative;
  }
}
