/*
* Fixes made by Pivot
*/
#quiz-container ul,
#quiz-container ol {
  padding-left: 0;
}
body.page-dml h1.title {
  display: none;
}
body.page-dml nav.breadcrumb {
  display: none;
}
@media (min-width: 1000px){
  body.page-dml #content > .primary{
    padding-right: 0px;
    padding-left: 0px;
    max-width: 980px;
  }
}
body.page-dml.node-type-page .primary div#content .primary{
  color: #000;
  font-family: "Apercu Regular", Calibri, sans-serif;
  font-size: 14px;
  padding: 10px;
}
body.page-dml.node-type-page div#content .primary p{
    font-size: 14px;
    padding: 10px;
    color: #000;
}