/**
 * @file
 * RTL companion for the navigation.css file.
 */
/* line 11, ../sass/navigation-rtl.scss */
#navigation ul.links,
#navigation ul.menu {
  /* Menu block links */
  text-align: right;
}
/* line 14, ../sass/navigation-rtl.scss */
#navigation ul.links li,
#navigation ul.menu li {
  /* A simple method to get navigation links to appear in one line. */
  float: right;
  padding: 0 0 0 10px;
}

/* line 21, ../sass/navigation-rtl.scss */
#secondary-menu {
  float: left;
}
