/* line 4, ../sass/_pivot-layout.scss */
.site-wrapper {
  max-width: 980px;
  margin: auto;
  padding: 50px 10px 20px;
}
/* line 52, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
.site-wrapper:before, .site-wrapper:after {
  content: "";
  display: table;
}
/* line 56, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
.site-wrapper:after {
  clear: both;
}

/* line 14, ../sass/_pivot-layout.scss */
#content > .primary {
  max-width: 620px;
  margin: 0 auto;
}
@media (min-width: 1000px) {
  /* line 14, ../sass/_pivot-layout.scss */
  #content > .primary {
    max-width: 960px;
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 20, ../sass/_pivot-layout.scss */
  #content > .primary.with-sidebar {
    float: left;
    width: 66.66667%;
    margin-left: 0%;
    margin-right: -66.66667%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
}
/* line 26, ../sass/_pivot-layout.scss */
#content > .secondary {
  width: 300px;
  margin: 0 auto;
  text-align: center;
}
@media (min-width: 1000px) {
  /* line 26, ../sass/_pivot-layout.scss */
  #content > .secondary {
    float: left;
    width: 33.33333%;
    margin-left: 66.66667%;
    margin-right: -100%;
    padding-left: 10px;
    padding-right: 10px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
}

/*
 * Pivot curated content panel
 */
/* line 39, ../sass/_pivot-layout.scss */
.panel-pivot-curated {
  margin-top: 0;
  padding-top: 0;
}
/* line 44, ../sass/_pivot-layout.scss */
.panel-pivot-curated .panel-col-top {
  width: 99.9%;
  clear: both;
}
/* line 51, ../sass/_pivot-layout.scss */
.panel-pivot-curated .panel-col-first,
.panel-pivot-curated .panel-col-last {
  width: 300px;
  margin: 0 auto;
}
@media (min-width: 681px) {
  /* line 51, ../sass/_pivot-layout.scss */
  .panel-pivot-curated .panel-col-first,
  .panel-pivot-curated .panel-col-last {
    margin: 0;
  }
}
@media (min-width: 681px) {
  /* line 61, ../sass/_pivot-layout.scss */
  .panel-pivot-curated .panel-col-first {
    float: left;
  }
  /* line 62, ../sass/_pivot-layout.scss */
  .panel-pivot-curated .panel-col-last {
    float: right;
  }
}
/* line 65, ../sass/_pivot-layout.scss */
.panel-pivot-curated .panel-separator {
  margin: 0;
}

/*
 * Global Pivot.tv styles
 */
/*
	Hacks:
		Targetting IE7:
			*+html [selector] {}
		Display inline-block on block-level element for IE6/7
			div {
				display: inline-block; *display: inline; zoom: 1; vertical-align: bottom;
			}
*/
/* ============================================================
|| General
============================================================ */
/* line 19, ../sass/_pivot-global.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 25, ../sass/_pivot-global.scss */
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #999;
}

/* line 28, ../sass/_pivot-global.scss */
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999;
}

/* line 31, ../sass/_pivot-global.scss */
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999;
}

/* line 34, ../sass/_pivot-global.scss */
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #999;
}

/* line 38, ../sass/_pivot-global.scss */
html {
  height: 100%;
  font-size: 20px;
  overflow-y: scroll;
}

/* line 46, ../sass/_pivot-global.scss */
div,
embed,
object {
  max-width: 100%;
}

/* line 51, ../sass/_pivot-global.scss */
body {
  font-size: 20px;
  background: #f1f3f4;
  background-image: url(../images/bg.png);
  font-family: Helvetica,Arial,sans-serif;
  position: relative;
  font-family: "Apercu Regular", sans-serif;
}

/* line 61, ../sass/_pivot-global.scss */
a:link,
a:visited {
  text-decoration: none;
  color: #1CA9E7;
}

/* line 67, ../sass/_pivot-global.scss */
a:hover,
a:active {
  text-decoration: underline;
}

/* ============================================================
|| Node Normalize Styles
============================================================ */
/* line 75, ../sass/_pivot-global.scss */
.node {
  font-size: 14px;
  line-height: 1.5;
}
/* line 80, ../sass/_pivot-global.scss */
.node p,
.node pre {
  margin: 0 0 1em;
}

/* line 85, ../sass/_pivot-global.scss */
.headline {
  font-size: 1.2em;
  margin-bottom: 15px;
  text-transform: uppercase;
}

/* ============================================================
|| Global Header (not frontpage)
============================================================ */
/* line 97, ../sass/_pivot-global.scss */
.not-front #site-header .primary {
  background: #000;
}
/* line 100, ../sass/_pivot-global.scss */
.not-front #site-header .primary .site-wrapper {
  padding: 0 20px;
  display: block;
}
/* line 106, ../sass/_pivot-global.scss */
.not-front #site-header .secondary {
  background: #0084a9;
}
/* line 109, ../sass/_pivot-global.scss */
.not-front #site-header .secondary .site-wrapper {
  padding: 0 20px;
  display: block;
}
/* line 115, ../sass/_pivot-global.scss */
.not-front #site-header .logo {
  margin: 8px 19px 9px 0;
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 128px;
  height: 43px;
  background-repeat: no-repeat;
  background-image: url(../images/pivot_medium_white.png);
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
/* line 127, ../sass/_pivot-global.scss */
.not-front #site-header .logo .headline {
  margin-bottom: 0;
}
/* line 133, ../sass/_pivot-global.scss */
.not-front #site-header .nav {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
/* line 137, ../sass/_pivot-global.scss */
.not-front #site-header .nav .headline {
  display: none;
}
/* line 141, ../sass/_pivot-global.scss */
.not-front #site-header .nav ul {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  margin: 0;
  padding: 0;
}
/* line 147, ../sass/_pivot-global.scss */
.not-front #site-header .nav ul li {
  float: left;
}
/* line 150, ../sass/_pivot-global.scss */
.not-front #site-header .nav ul li a {
  display: block;
  text-transform: uppercase;
}
/* line 159, ../sass/_pivot-global.scss */
.not-front #site-header .nav-primary .menu {
  height: 60px;
}
/* line 163, ../sass/_pivot-global.scss */
.not-front #site-header .nav-primary a {
  display: block;
  position: relative;
  white-space: nowrap;
  color: #00b5cc;
  font-size: 18px;
  vertical-align: bottom;
  padding: 20px 10px;
}
/* line 174, ../sass/_pivot-global.scss */
.not-front #site-header .nav-primary a.active, .not-front #site-header .nav-primary a:hover, .not-front #site-header .nav-primary a:focus {
  color: white;
  text-decoration: none;
}
/* line 179, ../sass/_pivot-global.scss */
.not-front #site-header .nav-primary a:before {
  content: " ";
  display: inline-block;
  background-repeat: no-repeat;
  margin-right: 11px;
  vertical-align: text-bottom;
}
/* line 188, ../sass/_pivot-global.scss */
.not-front #site-header .nav-primary li {
  position: relative;
}
/* line 191, ../sass/_pivot-global.scss */
.not-front #site-header .nav-primary li:after {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
  overflow: hidden;
  content: " ";
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.25) 40%, rgba(255, 255, 255, 0.25) 60%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.25) 40%, rgba(255, 255, 255, 0.25) 60%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 0) 100%);
  /* W3C */
}
/* line 205, ../sass/_pivot-global.scss */
.not-front #site-header .nav-primary li:last-child:after {
  display: none;
}
/* line 211, ../sass/_pivot-global.scss */
.not-front #site-header .nav-primary a.shows:before {
  width: 21px;
  height: 21px;
  background-image: url(../images/header_shows_off.png);
}
/* line 218, ../sass/_pivot-global.scss */
.not-front #site-header .nav-primary a.shows.active:before, .not-front #site-header .nav-primary a.shows:hover:before, .not-front #site-header .nav-primary a.shows:focus:before {
  background-image: url(../images/header_shows_on.png);
}
/* line 224, ../sass/_pivot-global.scss */
.not-front #site-header .nav-primary a.movies:before {
  width: 23px;
  height: 21px;
  background-image: url(../images/header_movies_off.png);
}
/* line 231, ../sass/_pivot-global.scss */
.not-front #site-header .nav-primary a.movies.active:before, .not-front #site-header .nav-primary a.movies:hover:before, .not-front #site-header .nav-primary a.movies:focus:before {
  background-image: url(../images/header_movies_on.png);
}
/* line 237, ../sass/_pivot-global.scss */
.not-front #site-header .nav-primary a.watch_now:before {
  width: 20px;
  height: 20px;
  background-image: url(../images/header_watch_off.png);
}
/* line 244, ../sass/_pivot-global.scss */
.not-front #site-header .nav-primary a.watch_now.active:before, .not-front #site-header .nav-primary a.watch_now:hover:before, .not-front #site-header .nav-primary a.watch_now:focus:before {
  background-image: url(../images/header_watch_on.png);
}
/* line 250, ../sass/_pivot-global.scss */
.not-front #site-header .nav-primary a.take_action:before {
  width: 25px;
  height: 21px;
  background-image: url(../images/header_action_off.png);
}
/* line 257, ../sass/_pivot-global.scss */
.not-front #site-header .nav-primary a.take_action.active:before, .not-front #site-header .nav-primary a.take_action:hover:before, .not-front #site-header .nav-primary a.take_action:focus:before {
  background-image: url(../images/header_action_on.png);
}
/* line 263, ../sass/_pivot-global.scss */
.not-front #site-header .nav-primary a.schedule:before {
  width: 20px;
  height: 21px;
  background-image: url(../images/header_schedule_off.png);
}
/* line 270, ../sass/_pivot-global.scss */
.not-front #site-header .nav-primary a.schedule.active:before, .not-front #site-header .nav-primary a.schedule:hover:before, .not-front #site-header .nav-primary a.schedule:focus:before {
  background-image: url(../images/header_schedule_on.png);
}
/* line 276, ../sass/_pivot-global.scss */
.not-front #site-header .nav-primary a.blog:before {
  width: 18px;
  height: 20px;
  background-image: url(../images/header_blog_off.png);
}
/* line 283, ../sass/_pivot-global.scss */
.not-front #site-header .nav-primary a.blog.active:before, .not-front #site-header .nav-primary a.blog:hover:before, .not-front #site-header .nav-primary a.blog:focus:before {
  background-image: url(../images/header_blog_on.png);
}
@media (max-width: 1000px) {
  /* line 290, ../sass/_pivot-global.scss */
  .not-front #site-header .primary {
    position: relative;
  }
  /* line 293, ../sass/_pivot-global.scss */
  .not-front #site-header .primary .nav-primary {
    height: 0;
    overflow: hidden;
    -webkit-transition: all 0.5s linear 0s;
    transition: all 0.5s linear 0s;
  }
  /* line 300, ../sass/_pivot-global.scss */
  .not-front #site-header .primary.open .nav-primary {
    height: auto;
    max-height: 500px;
  }
  /* line 305, ../sass/_pivot-global.scss */
  .not-front #site-header .primary:after {
    content: " ";
    display: block;
    background-repeat: no-repeat;
    background-image: url(../images/menu_btn_open.png);
    width: 26px;
    height: 21px;
    position: absolute;
    top: 24px;
    right: 11%;
  }
  /* line 317, ../sass/_pivot-global.scss */
  .not-front #site-header .primary.open:after {
    background-image: url(../images/menu_btn_close.png);
  }
  /* line 321, ../sass/_pivot-global.scss */
  .not-front #site-header .primary .site-wrapper {
    padding: 0;
  }
  /* line 326, ../sass/_pivot-global.scss */
  .not-front #site-header .logo {
    margin: 12px auto 15px;
    display: block;
  }
  /* line 331, ../sass/_pivot-global.scss */
  .not-front #site-header .nav ul {
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: top;
    width: 100%;
  }
  /* line 337, ../sass/_pivot-global.scss */
  .not-front #site-header .nav-primary {
    width: 100%;
    display: block;
    z-index: 99;
    background: #1f1f1f;
  }
  /* line 343, ../sass/_pivot-global.scss */
  .not-front #site-header .nav-primary .menu {
    height: auto;
  }
  /* line 347, ../sass/_pivot-global.scss */
  .not-front #site-header .nav-primary li {
    width: 50%;
    text-align: center;
  }
  /* line 351, ../sass/_pivot-global.scss */
  .not-front #site-header .nav-primary li:after {
    background: transparent;
  }
  /* line 355, ../sass/_pivot-global.scss */
  .not-front #site-header .nav-primary li a {
    display: block;
  }
}
/* line 363, ../sass/_pivot-global.scss */
.not-front #site-header .nav-secondary {
  width: 100%;
}
/* line 365, ../sass/_pivot-global.scss */
.not-front #site-header .nav-secondary .find-pivot {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
}
/* line 371, ../sass/_pivot-global.scss */
.not-front #site-header .nav-secondary a,
.not-front #site-header .nav-secondary a:hover,
.not-front #site-header .nav-secondary a:focus {
  background-color: transparent;
  box-shadow: none;
  padding-left: 0;
}
/* line 377, ../sass/_pivot-global.scss */
.not-front #site-header .nav-secondary .search {
  float: right;
  margin-top: 2px;
  white-space: nowrap;
  margin-bottom: 5px;
}
/* line 383, ../sass/_pivot-global.scss */
.not-front #site-header .nav-secondary .search label {
  display: none;
}
/* line 387, ../sass/_pivot-global.scss */
.not-front #site-header .nav-secondary .search #search-text {
  border: 0;
  background: transparent;
  color: #fff;
  border-bottom: 1px solid #fff;
  font-size: 18px;
  box-shadow: none;
  border-radius: 0;
  line-height: 1em;
}
/* line 397, ../sass/_pivot-global.scss */
.not-front #site-header .nav-secondary .search #search-text::-webkit-input-placeholder {
  color: #fff;
}
/* line 402, ../sass/_pivot-global.scss */
.not-front #site-header .nav-secondary .search .submit {
  background: url(../images/search.png) no-repeat;
  border: 0;
  cursor: pointer;
  width: 19px;
  height: 19px;
  padding: 0;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  *text-indent: 0;
}

/* ============================================================
|| Global Footer
============================================================ */
/* line 425, ../sass/_pivot-global.scss */
#site-footer {
  background: #424242 url(../images/secondary-background.gif) left top repeat;
  color: #ccc;
  float: left;
  width: 100%;
  position: relative;
  z-index: 2;
  overflow: hidden;
  box-shadow: inset 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
}
/* line 435, ../sass/_pivot-global.scss */
#site-footer .block-pivot-global {
  margin: 0;
}
/* line 439, ../sass/_pivot-global.scss */
#site-footer .site-wrapper {
  padding: 1em 0;
  text-align: center;
}
/* line 444, ../sass/_pivot-global.scss */
#site-footer a {
  color: #ccc;
}
/* line 448, ../sass/_pivot-global.scss */
#site-footer .nav {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}
/* line 453, ../sass/_pivot-global.scss */
#site-footer .nav .headline,
#site-footer .nav .menu,
#site-footer .nav .menu li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  font-size: 13px;
}
/* line 459, ../sass/_pivot-global.scss */
#site-footer .nav .headline {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: 0;
  font-size: 13px;
  line-height: 45px;
  font-family: "Apercu Mono Regular", monospace;
  text-transform: uppercase;
}
/* line 468, ../sass/_pivot-global.scss */
#site-footer .nav .menu {
  margin: 0;
  padding: 0;
}
/* line 471, ../sass/_pivot-global.scss */
#site-footer .nav .menu li {
  list-style-type: none;
  list-style-image: none;
  margin-left: 12px;
  margin-bottom: 0;
}
/* line 481, ../sass/_pivot-global.scss */
#site-footer .footer-main-nav {
  float: none;
  margin: 1em auto 1.25em;
}
/* line 486, ../sass/_pivot-global.scss */
#site-footer .footer-main-nav .headline {
  display: none;
}
/* line 487, ../sass/_pivot-global.scss */
#site-footer .footer-main-nav .menu {
  margin: 0;
  padding: 0;
}
/* line 488, ../sass/_pivot-global.scss */
#site-footer .footer-main-nav .menu li {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
  margin: 0 10px 5px;
}
/* line 493, ../sass/_pivot-global.scss */
#site-footer .footer-main-nav .menu li a {
  padding: 5px;
}
/* line 497, ../sass/_pivot-global.scss */
#site-footer .secondary {
  display: block;
  float: none;
  width: auto;
  margin: 0 auto 1.5em;
  line-height: 45px;
}
/* line 506, ../sass/_pivot-global.scss */
#site-footer .footer-follow-nav,
#site-footer .footer-apps-nav {
  margin: 0 1.35em 5px 0;
}
/* line 509, ../sass/_pivot-global.scss */
#site-footer .footer-follow-nav a,
#site-footer .footer-apps-nav a {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin: 0;
  width: 38px;
  height: 38px;
  white-space: nowrap;
  text-indent: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
}
/* line 521, ../sass/_pivot-global.scss */
#site-footer .facebook {
  background-image: url(../images/social_mono_blue_facebook.png);
}
/* line 525, ../sass/_pivot-global.scss */
#site-footer .twitter {
  background-image: url(../images/social_mono_blue_twitter.png);
}
/* line 529, ../sass/_pivot-global.scss */
#site-footer .youtube {
  background-image: url(../images/social_mono_blue_youtube.png);
}
/* line 533, ../sass/_pivot-global.scss */
#site-footer .googleplus {
  background-image: url(../images/social_mono_blue_googleplus.png);
}
/* line 537, ../sass/_pivot-global.scss */
#site-footer .instagram {
  background-image: url(../images/social_mono_blue_instagram.png);
}
/* line 541, ../sass/_pivot-global.scss */
#site-footer .ios-app {
  background-image: url(../images/footer_mono_blue_ios.png);
}
/* line 545, ../sass/_pivot-global.scss */
#site-footer .android-app {
  background-image: url(../images/footer_mono_blue_android.png);
}
/* line 550, ../sass/_pivot-global.scss */
#site-footer .footer-participant-nav {
  display: block;
}
/* line 552, ../sass/_pivot-global.scss */
#site-footer .footer-participant-nav a {
  display: inline-block;
  white-space: nowrap;
  text-indent: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
}
/* line 560, ../sass/_pivot-global.scss */
#site-footer .footer-participant-nav .participant-media {
  background-image: url(../images/footer_participant_participant.png);
  width: 113px;
  height: 24px;
  vertical-align: middle;
}
/* line 567, ../sass/_pivot-global.scss */
#site-footer .footer-participant-nav .takepart {
  background-image: url(../images/footer_participant_takepart.png);
  width: 45px;
  height: 45px;
}
/* line 573, ../sass/_pivot-global.scss */
#site-footer .footer-participant-nav .pivot {
  background-image: url(../images/footer_participant_pivot.png);
  width: 48px;
  height: 16px;
}
/* line 580, ../sass/_pivot-global.scss */
#site-footer #copyright {
  margin-bottom: 1em;
}
/* line 583, ../sass/_pivot-global.scss */
#site-footer #copyright p {
  font-size: 12px;
  text-align: center;
  color: #999;
}

/* ============================================================
|| Article (Blog Post)
============================================================ */
/* line 598, ../sass/_pivot-global.scss */
.node-type-article #content img {
  max-width: 100%;
  height: auto !important;
}
/* line 603, ../sass/_pivot-global.scss */
.node-type-article #content .node-article {
  background: #fff;
  padding: 20px;
}
/* line 607, ../sass/_pivot-global.scss */
.node-type-article #content .node-article .main-headline {
  font-size: 24px;
  line-height: 30px;
  margin: 0 0 10px;
}
/* line 613, ../sass/_pivot-global.scss */
.node-type-article #content .node-article .field-name-field-article-subtitle {
  color: #c40066;
  font-size: 13px;
  margin-bottom: 10px;
  line-height: 1.5em;
  font-family: "Apercu Mono Regular", monospace;
}
/* line 621, ../sass/_pivot-global.scss */
.node-type-article #content .node-article .header-secondary {
  font-size: 13px;
  vertical-align: baseline;
  font-weight: bold;
}
/* line 628, ../sass/_pivot-global.scss */
.node-type-article #content .node-article .header-secondary .pubdate,
.node-type-article #content .node-article .header-secondary .authors,
.node-type-article #content .node-article .header-secondary .comment {
  display: inline;
  margin-right: 1em;
}
/* line 633, ../sass/_pivot-global.scss */
.node-type-article #content .node-article .header-secondary .comment {
  text-transform: uppercase;
}
/* line 638, ../sass/_pivot-global.scss */
.node-type-article #content .node-article .article-sidebar {
  float: left;
  width: 32px;
  margin-right: 1em;
  margin-bottom: 1em;
}
/* line 645, ../sass/_pivot-global.scss */
.node-type-article #content .node-article .social {
  padding-top: 1em;
}
/* line 648, ../sass/_pivot-global.scss */
.node-type-article #content .node-article .social a {
  margin-bottom: 12px;
}
/* line 655, ../sass/_pivot-global.scss */
.node-type-article #content .node-article .article-social-more .trigger {
  margin: 0;
}
/* line 659, ../sass/_pivot-global.scss */
.node-type-article #content .node-article .article-social-more a {
  background-color: #01bf9e;
  background-image: url(../images/social_white_more.png);
}
/* line 664, ../sass/_pivot-global.scss */
.node-type-article #content .node-article .article-social-more a:focus, .node-type-article #content .node-article .article-social-more a:hover {
  background-color: #0090b8;
}
/* line 670, ../sass/_pivot-global.scss */
.node-type-article #content .node-article .article-content {
  padding-top: 1em;
  float: left;
  width: 528px;
}
/* line 675, ../sass/_pivot-global.scss */
.node-type-article #content .node-article .article-content .field-name-field-main-image {
  margin-bottom: 1em;
}
/* line 679, ../sass/_pivot-global.scss */
.node-type-article #content .node-article .article-content .field-name-body {
  margin-bottom: 30px;
}
/* line 684, ../sass/_pivot-global.scss */
.node-type-article #content .node-article .article-footer {
  clear: both;
}
/* line 688, ../sass/_pivot-global.scss */
.node-type-article #content .node-article .article-footer .related,
.node-type-article #content .node-article .article-footer .page-tags {
  margin-bottom: 5px;
}
/* line 695, ../sass/_pivot-global.scss */
.node-type-article #content .node-article .article-footer .related p,
.node-type-article #content .node-article .article-footer .page-tags .headline,
.node-type-article #content .node-article .article-footer .related a,
.node-type-article #content .node-article .article-footer .page-tags a {
  font-size: 14px;
}
/* line 703, ../sass/_pivot-global.scss */
.node-type-article #content .node-article .article-footer .related .headline,
.node-type-article #content .node-article .article-footer .page-tags .headline,
.node-type-article #content .node-article .article-footer .page-tags ul,
.node-type-article #content .node-article .article-footer .page-tags li,
.node-type-article #content .node-article .article-footer .related p {
  display: inline;
}
/* line 707, ../sass/_pivot-global.scss */
.node-type-article #content .node-article .article-footer .page-tags li:after {
  content: ", ";
  display: inline;
}
/* line 712, ../sass/_pivot-global.scss */
.node-type-article #content .node-article .article-footer .page-tags li.last:after {
  display: none;
}
/* line 717, ../sass/_pivot-global.scss */
.node-type-article #content .node-article .article-footer .related .headline:after,
.node-type-article #content .node-article .article-footer .page-tags .headline:after {
  content: ": ";
  display: inline;
}
/* line 723, ../sass/_pivot-global.scss */
.node-type-article #content .node-article #article-comments {
  margin-top: 40px;
}
/* line 730, ../sass/_pivot-global.scss */
.node-type-article #content .node-article #article-comments .fb_comments_count {
  background-image: url(../images/comments_counter.png);
  background-repeat: no-repeat;
  width: 27px;
  height: 21px;
  line-height: 18px;
  font-size: 13px;
  font-family: "Apercu Mono Regular", monospace;
  text-align: center;
  display: inline-block;
  color: #fff;
  vertical-align: bottom;
}
/* line 745, ../sass/_pivot-global.scss */
.node-type-article #content .node-article #article-social-more {
  position: relative;
  overflow: hidden;
}
/* line 749, ../sass/_pivot-global.scss */
.node-type-article #content .node-article #article-social-more.focusin {
  position: relative;
  overflow: visible;
}
/* line 755, ../sass/_pivot-global.scss */
.node-type-article #content .node-article #article-more-shares {
  position: absolute;
  bottom: 100%;
  background: #fff;
  border-radius: 5px;
  border: 5px solid rgba(0, 0, 0, 0.5);
  -webkit-background-clip: padding-box;
  /* for Safari */
  background-clip: padding-box;
  /* for IE9+, Firefox 4+, Opera, Chrome */
  min-width: 250px;
  display: inline-block;
}
/* line 766, ../sass/_pivot-global.scss */
.node-type-article #content .node-article #article-more-shares .headline {
  font-size: 14px;
  background: #f7f7f7;
  border-bottom: 1px solid #e0e0e0;
  padding: .25em;
  white-space: nowrap;
  margin: auto;
}
/* line 774, ../sass/_pivot-global.scss */
.node-type-article #content .node-article #article-more-shares .headline:after {
  display: block;
  content: " ";
  margin: 3px;
  width: 7px;
  height: 7px;
  float: right;
  background-repeat: no-repeat;
  background-image: url(../images/social_more_close.png);
}
/* line 786, ../sass/_pivot-global.scss */
.node-type-article #content .node-article #article-more-shares p {
  padding: .25em;
  float: left;
  width: 100%;
}
/* line 792, ../sass/_pivot-global.scss */
.node-type-article #content .node-article #article-more-shares a {
  display: block;
  font-size: 14px;
  padding: .25em .25em .25em 20px;
  line-height: 16px;
  color: #000;
  white-space: nowrap;
  float: left;
  width: 50%;
  background-repeat: no-repeat;
  background-color: transparent;
  border-radius: 0;
  text-indent: 0;
  height: auto;
  margin: auto;
}
/* line 808, ../sass/_pivot-global.scss */
.node-type-article #content .node-article #article-more-shares a:hover {
  text-decoration: none;
}
/* line 813, ../sass/_pivot-global.scss */
.node-type-article #content .node-article #article-more-shares .tp-social-myspace {
  background-image: url(../images/social_more_myspace.png);
}
/* line 817, ../sass/_pivot-global.scss */
.node-type-article #content .node-article #article-more-shares .tp-social-delicious {
  background-image: url(../images/social_more_delicious.png);
}
/* line 821, ../sass/_pivot-global.scss */
.node-type-article #content .node-article #article-more-shares .tp-social-linkedin {
  background-image: url(../images/social_more_linkedin.png);
}
/* line 825, ../sass/_pivot-global.scss */
.node-type-article #content .node-article #article-more-shares .tp-social-myaol {
  background-image: url(../images/social_more_myaol.png);
}
/* line 829, ../sass/_pivot-global.scss */
.node-type-article #content .node-article #article-more-shares .tp-social-live {
  background-image: url(../images/social_more_live.png);
}
/* line 833, ../sass/_pivot-global.scss */
.node-type-article #content .node-article #article-more-shares .tp-social-digg {
  background-image: url(../images/social_more_digg.png);
}
/* line 837, ../sass/_pivot-global.scss */
.node-type-article #content .node-article #article-more-shares .tp-social-stumbleupon {
  background-image: url(../images/social_more_stumbleupon.png);
}
/* line 841, ../sass/_pivot-global.scss */
.node-type-article #content .node-article #article-more-shares .tp-social-hyves {
  background-image: url(../images/social_more_hyves.png);
}
/* line 845, ../sass/_pivot-global.scss */
.node-type-article #content .node-article #article-more-shares .tp-social-pinterest {
  background-image: url(../images/social_more_pinterest.png);
}
/* line 849, ../sass/_pivot-global.scss */
.node-type-article #content .node-article #article-more-shares .tp-social-tumblr_link {
  background-image: url(../images/social_more_tumblr.png);
}
/* line 853, ../sass/_pivot-global.scss */
.node-type-article #content .node-article #article-more-shares .tp-social-gmail {
  background-image: url(../images/social_more_gmail.png);
}
/* line 857, ../sass/_pivot-global.scss */
.node-type-article #content .node-article #article-more-shares .tp-social-hotmail {
  background-image: url(../images/social_more_hotmail.png);
}
/* line 861, ../sass/_pivot-global.scss */
.node-type-article #content .node-article #article-more-shares .tp-social-yahoomail {
  background-image: url(../images/social_more_yahoomail.png);
}
/* line 865, ../sass/_pivot-global.scss */
.node-type-article #content .node-article #article-more-shares .tp-social-aolmail {
  background-image: url(../images/social_more_aolmail.png);
}
/* line 870, ../sass/_pivot-global.scss */
.node-type-article #content .node-article .focusin #article-more-shares {
  top: 100%;
  bottom: auto;
}

/* ============================================================
|| Modules
============================================================ */
/* line 883, ../sass/_pivot-global.scss */
.social a {
  width: 32px;
  height: 32px;
  white-space: nowrap;
  text-indent: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: middle;
  border-radius: 16px;
}

/* line 899, ../sass/_pivot-global.scss */
.tp-social .tp-social-link:focus,
.tp-social .tp-social-link:hover {
  background-color: #0090b8;
}
/* line 903, ../sass/_pivot-global.scss */
.tp-social .tp-social-facebook {
  background-color: #3460a1;
  background-image: url(../images/social_white_facebook.png);
}
/* line 908, ../sass/_pivot-global.scss */
.tp-social .tp-social-googleplus {
  background-color: #de5543;
  background-image: url(../images/social_white_googleplus.png);
}
/* line 913, ../sass/_pivot-global.scss */
.tp-social .tp-social-twitter {
  background-color: #28aae1;
  background-image: url(../images/social_white_twitter.png);
}
/* line 918, ../sass/_pivot-global.scss */
.tp-social .tp-social-pinterest {
  background-color: #cc2127;
  background-image: url(../images/social_white_pinterest.png);
}
/* line 923, ../sass/_pivot-global.scss */
.tp-social .tp-social-pinterest {
  background-color: #cc2127;
  background-image: url(../images/social_white_pinterest.png);
}
/* line 928, ../sass/_pivot-global.scss */
.tp-social .tp-social-email {
  background-color: #424242;
  background-image: url(../images/social_white_email.png);
}

/* line 936, ../sass/_pivot-global.scss */
.promo {
  position: relative;
  margin-bottom: 1em;
}
/* line 940, ../sass/_pivot-global.scss */
.promo a {
  color: black;
}
/* line 942, ../sass/_pivot-global.scss */
.promo img {
  display: block;
}
/* line 949, ../sass/_pivot-global.scss */
.promo .info {
  background-color: white;
  background-color: rgba(255, 255, 255, 0.8);
  line-height: 98px;
  padding: 0 5%;
  position: absolute;
  left: 0;
  bottom: 0;
  width: 234px;
  height: 98px;
  padding: 0 36px;
}
/* line 963, ../sass/_pivot-global.scss */
.promo .info-inner {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  line-height: 1;
  vertical-align: middle;
  width: 100%;
}
/* line 970, ../sass/_pivot-global.scss */
.promo .field-name-field-promo-headline {
  font-size: 1.2em;
  color: #0084a9;
  font-style: italic;
  font-weight: bold;
}
/* line 977, ../sass/_pivot-global.scss */
.promo .field-name-field-promo-abstract {
  font-size: 13px;
  font-family: "Apercu Mono Regular", monospace;
}

/* ============================================================
|| Modules
============================================================ */
/* Skip link */
/* "Buttons" */
/* line 1012, ../sass/_pivot-global.scss */
a.important:link,
a.important:visited {
  text-decoration: none;
  color: #fff;
  background-color: #01bf9e;
  font-size: 16px;
  line-height: 18px;
  white-space: nowrap;
  display: inline-block;
  padding: 8px 39px 8px 19px;
  border-radius: 3px;
  text-transform: uppercase;
  position: relative;
  box-shadow: 0 3px 0 rgba(50, 50, 50, 0.75);
}

/* line 1027, ../sass/_pivot-global.scss */
a.important:after {
  content: " ";
  display: block;
  position: absolute;
  right: 19px;
  top: 50%;
  margin-top: -9px;
  background-repeat: no-repeat;
  background-image: url(../images/rightarrow_small.png);
  width: 11px;
  height: 18px;
  -webkit-transition: right .1s linear .1s;
  transition: right .1s linear .1s;
}

/* line 1042, ../sass/_pivot-global.scss */
a.important:hover:after {
  right: 10px;
}

/* line 1046, ../sass/_pivot-global.scss */
a.important .pivot {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(../images/pivot_small_white.png);
  width: 48px;
  height: 16px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: bottom;
}

/* Top? Schedule */
/* line 1059, ../sass/_pivot-global.scss */
.upcoming {
  position: absolute;
  width: 100%;
  z-index: 5;
  background: black url(../images/secondary-background.gif) left top repeat;
  height: 57px;
  color: #fff;
  display: table;
  box-shadow: inset 0px -10px 20px 0px rgba(0, 0, 0, 0.25);
}

/* line 1071, ../sass/_pivot-global.scss */
.upcoming a {
  color: #01bf9e;
}

/* line 1075, ../sass/_pivot-global.scss */
.upcoming .inner {
  display: table-row;
}

/* line 1079, ../sass/_pivot-global.scss */
.upcoming .headline a {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
  padding: 5px 25px 5px 10px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  color: #fff;
}

/* line 1091, ../sass/_pivot-global.scss */
.upcoming .headline a:after {
  content: " ";
  display: block;
  position: absolute;
  right: 5px;
  top: 50%;
  margin-top: -11px;
  width: 11px;
  height: 22px;
  background-repeat: no-repeat;
  background-image: url(../images/rightarrow_medium.png);
  vertical-align: middle;
}

/* line 1108, ../sass/_pivot-global.scss */
.upcoming .headline,
.upcoming .times,
.upcoming .full-schedule,
.upcoming .times .item {
  display: table-cell;
  vertical-align: middle;
}

/* line 1113, ../sass/_pivot-global.scss */
.upcoming .times .item {
  font-family: "Apercu Mono Regular", monospace, sans-serif;
  font-size: 14px;
  position: relative;
  text-align: center;
  padding: 0 5px;
}

/* line 1121, ../sass/_pivot-global.scss */
.upcoming .times .inner {
  display: table;
  margin: auto;
}

/* line 1126, ../sass/_pivot-global.scss */
.upcoming .times .item:before {
  content: " ";
  width: 1px;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.25) 40%, rgba(255, 255, 255, 0.25) 60%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.25) 40%, rgba(255, 255, 255, 0.25) 60%, rgba(255, 255, 255, 0) 100%);
  /* W3C */
}

/* line 1139, ../sass/_pivot-global.scss */
.upcoming .times .item:first-child:before {
  display: none;
}

/* line 1143, ../sass/_pivot-global.scss */
.upcoming .times .item:after {
  content: " ";
  width: 1px;
  display: block;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 40%, rgba(0, 0, 0, 0.25) 60%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 40%, rgba(0, 0, 0, 0.25) 60%, rgba(0, 0, 0, 0) 100%);
  /* W3C */
}

/* line 1157, ../sass/_pivot-global.scss */
.upcoming .times .time,
.upcoming .times .show {
  padding: 0 5px;
}

/* line 1161, ../sass/_pivot-global.scss */
.upcoming .full-schedule {
  padding: 0 5px;
}

/* Pretty form selects */
/* line 1167, ../sass/_pivot-global.scss */
.tpselect_wrapper {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  background: #f2f2f2;
  border-radius: 2px;
  box-shadow: 0 3px 0 rgba(50, 50, 50, 0.75);
  vertical-align: bottom;
}

/* line 1177, ../sass/_pivot-global.scss */
.tpselect_wrapper.tpselect_focus {
  background: #000;
  color: #fff;
}

/* line 1182, ../sass/_pivot-global.scss */
.tpselect_wrapper select {
  height: 100%;
  width: 100%;
}

/* line 1187, ../sass/_pivot-global.scss */
.tpselect_wrapper .tpselect_value {
  position: relative;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 46px 0 11px;
  font-size: 13px;
  font-family: "Apercu Mono Regular", monospace;
}

/* line 1198, ../sass/_pivot-global.scss */
.tpselect_wrapper .tpselect_value:after {
  display: block;
  content: " ";
  background-image: url(../images/form_dropdown_button.png);
  width: 35px;
  height: 30px;
  position: absolute;
  right: 0;
  top: 0;
}

/* Find pivot right rail */
/* ============================================================
|| Dev CSS Rules
============================================================ */
/* line 1295, ../sass/_pivot-global.scss */
#themer-toggle {
  z-index: 99999;
}

/* ============================================================
|| ie8 theming
============================================================ */
/* line 1302, ../sass/_pivot-global.scss */
body.ie8 .video-player {
  display: none;
}

/* line 1308, ../sass/_pivot-global.scss */
iframe.media-youtube-player {
  max-width: 100%;
}

/*
 * Homepage Styles for Pivot.tv
 */
/* Home Page
------------------------------------------------------------ */
/* line 8, ../sass/_pivot-homepage.scss */
body.front {
  height: 100%;
}

/* line 17, ../sass/_pivot-homepage.scss */
.front #main {
  min-height: 100%;
  padding: 0;
  background: transparent;
}

/* line 33, ../sass/_pivot-homepage.scss */
.front .panel-col-top .node-video.node-teaser .field-name-field-video-longtail-video-id {
  margin-bottom: 10px;
}
/* line 37, ../sass/_pivot-homepage.scss */
.front .panel-col-top .node-video.node-teaser .headline {
  font-size: 1.2em;
  margin-bottom: 15px;
  text-transform: uppercase;
}
/* line 43, ../sass/_pivot-homepage.scss */
.front .panel-col-top .node-video.node-teaser .field-name-body {
  font-size: 14px;
  line-height: 1.5;
}

/* line 1, ../sass/_pivot-homepage-hero.scss */
.front #home-header {
  position: absolute;
  left: 0;
  top: 0;
  padding: 4em 4em 0 4em;
  z-index: 4;
  color: #fff;
  width: 100%;
}

/* line 11, ../sass/_pivot-homepage-hero.scss */
.front #home-header .pivot-headline {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 224px;
  height: 87px;
  background-repeat: no-repeat;
  background-image: url(../images/logo.png);
  float: left;
}

/* line 21, ../sass/_pivot-homepage-hero.scss */
.front #home-header .pivot-headline-dark {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 224px;
  height: 87px;
  background-repeat: no-repeat;
  background-image: url(../images/logo.png);
  float: left;
}

/* line 31, ../sass/_pivot-homepage-hero.scss */
.front #home-header .secondary {
  float: right;
}

/* line 35, ../sass/_pivot-homepage-hero.scss */
.front #home-header .social {
  width: 100%;
  margin-bottom: 15px;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
}

/* line 42, ../sass/_pivot-homepage-hero.scss */
.front #home-header .social .item {
  display: inline-block;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  width: 32px;
  height: 32px;
  background-repeat: no-repeat;
  background-size: 32px 32px;
  margin-left: 11px;
}

/* line 53, ../sass/_pivot-homepage-hero.scss */
.front #home-header .social ul {
  float: right;
  padding-left: 17px;
}

/* line 58, ../sass/_pivot-homepage-hero.scss */
.front #home-header .social .facebook {
  background-image: url(../images/social_mono_white_facebook.png);
}

/* line 62, ../sass/_pivot-homepage-hero.scss */
.front #home-header .social .googleplus {
  background-image: url(../images/social_mono_white_googleplus.png);
}

/* line 66, ../sass/_pivot-homepage-hero.scss */
.front #home-header .social .instagram {
  background-image: url(../images/social_mono_white_instagram.png);
}

/* line 69, ../sass/_pivot-homepage-hero.scss */
.front #home-header .social .twitter {
  background-image: url(../images/social_mono_white_twitter.png);
}

/* line 73, ../sass/_pivot-homepage-hero.scss */
.front #home-header .social .youtube {
  background-image: url(../images/social_mono_white_youtube.png);
}

/* line 78, ../sass/_pivot-homepage-hero.scss */
.front #home-header .social .facebook:hover {
  background-image: url(../images/social_mono_blue_facebook.png);
}

/* line 82, ../sass/_pivot-homepage-hero.scss */
.front #home-header .social .googleplus:hover {
  background-image: url(../images/social_mono_blue_googleplus.png);
}

/* line 86, ../sass/_pivot-homepage-hero.scss */
.front #home-header .social .instagram:hover {
  background-image: url(../images/social_mono_blue_instagram.png);
}

/* line 89, ../sass/_pivot-homepage-hero.scss */
.front #home-header .social .twitter:hover {
  background-image: url(../images/social_mono_blue_twitter.png);
}

/* line 93, ../sass/_pivot-homepage-hero.scss */
.front #home-header .social .youtube:hover {
  background-image: url(../images/social_mono_blue_youtube.png);
}

/* line 98, ../sass/_pivot-homepage-hero.scss */
.front #home-header .social .item a {
  display: block;
  height: 100%;
}

/* line 103, ../sass/_pivot-homepage-hero.scss */
.front #main {
  min-height: 100%;
  background: transparent;
}

/* line 108, ../sass/_pivot-homepage-hero.scss */
.front #wrapper {
  width: auto;
  height: 100%;
}

/* line 113, ../sass/_pivot-homepage-hero.scss */
.front #video {
  background: #000;
}

/* line 118, ../sass/_pivot-homepage-hero.scss */
.front .video-player,
.front .video-image {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

/* line 125, ../sass/_pivot-homepage-hero.scss */
.front .active .video-player {
  z-index: 2;
  opacity: 1;
}

/* line 130, ../sass/_pivot-homepage-hero.scss */
.front .video-image.loaded {
  opacity: 1;
}

/* line 135, ../sass/_pivot-homepage-hero.scss */
.front .video-player,
.front .slide:first-child .video-image {
  -webkit-transition: opacity .1s linear .1s;
  transition: opacity .1s linear .1s;
}

/* line 140, ../sass/_pivot-homepage-hero.scss */
.front .slide {
  white-space: normal;
}

/* line 144, ../sass/_pivot-homepage-hero.scss */
.front .slide .active .video-image {
  opacity: 1;
  z-index: 1;
}

/* line 149, ../sass/_pivot-homepage-hero.scss */
.front .video-content {
  position: relative;
  z-index: 3;
  color: #fff;
  width: 100%;
  height: 100%;
  padding-top: 210px;
}

/* line 158, ../sass/_pivot-homepage-hero.scss */
.front .video-content-inner {
  position: absolute;
  bottom: 0;
  width: 100%;
}

/* line 164, ../sass/_pivot-homepage-hero.scss */
.front .video-content .promo img {
  display: block;
  box-shadow: 15px 14px 20px rgba(0, 0, 0, 0.5);
  width: auto;
  height: auto;
  max-width: 100%;
  max-height: 100%;
}

/* line 174, ../sass/_pivot-homepage-hero.scss */
.front .video-content .promo,
.front .video-content .primary {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  vertical-align: top;
}

/* line 179, ../sass/_pivot-homepage-hero.scss */
.front .video-content .promo {
  width: 40%;
  vertical-align: bottom;
}

/* line 184, ../sass/_pivot-homepage-hero.scss */
.front .video-content .primary {
  width: 60%;
  font-size: 24px;
  line-height: 1.6;
  padding: 40px 10px 5% 50px;
  position: relative;
}

/* line 191, ../sass/_pivot-homepage-hero.scss */
.front .video-content .primary:after {
  content: " ";
  display: block;
  height: 100%;
  background: none;
  width: 200%;
  position: absolute;
  top: 0;
  left: -100%;
  z-index: -1;
  background: -moz-linear-gradient(45deg, rgba(19, 18, 21, 0.2) 0%, rgba(255, 255, 255, 0.2) 50%, rgba(67, 67, 67, 0.2) 100%);
  /* FF3.6+ */
  background: -webkit-gradient(linear, left bottom, right top, color-stop(0%, rgba(19, 18, 21, 0.2)), color-stop(50%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(67, 67, 67, 0.2)));
  /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(45deg, rgba(19, 18, 21, 0.2) 0%, rgba(255, 255, 255, 0.2) 50%, rgba(67, 67, 67, 0.2) 100%);
  /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(45deg, rgba(19, 18, 21, 0.2) 0%, rgba(255, 255, 255, 0.2) 50%, rgba(67, 67, 67, 0.2) 100%);
  /* Opera 11.10+ */
  background: -ms-linear-gradient(45deg, rgba(19, 18, 21, 0.2) 0%, rgba(255, 255, 255, 0.2) 50%, rgba(67, 67, 67, 0.2) 100%);
  /* IE10+ */
  background: linear-gradient(45deg, rgba(19, 18, 21, 0.2) 0%, rgba(255, 255, 255, 0.2) 50%, rgba(67, 67, 67, 0.2) 100%);
  /* W3C */
  border-bottom: 6px solid rgba(0, 0, 0, 0.2);
  box-shadow: 25px 25px 29px 14px rgba(0, 0, 0, 0.19);
}

/* line 214, ../sass/_pivot-homepage-hero.scss */
.front .video-content .primary .headline {
  font-size: 60px;
  font-weight: bold;
  font-style: italic;
  white-space: nowrap;
  margin: 0;
  margin-bottom: 15px;
}

/* line 223, ../sass/_pivot-homepage-hero.scss */
.front .video-content .primary .description {
  margin-bottom: 15px;
  font-family: "Apercu Mono Regular", monospace;
}

/* line 227, ../sass/_pivot-homepage-hero.scss */
.front .slide-wrapper .tpslide_slide .video-content {
  opacity: 0;
  transition: opacity .3s ease-in 0;
  -webkit-transition: opacity .3s ease-in 0;
}

/* line 233, ../sass/_pivot-homepage-hero.scss */
.front .slide-wrapper .tpslide_slide.active .video-content {
  opacity: 1;
}

/* Top slide */
/* line 239, ../sass/_pivot-homepage-hero.scss */
.front #topslide {
  height: 100%;
  background: #000;
  position: relative;
}

/* line 245, ../sass/_pivot-homepage-hero.scss */
.front #topslide a.important {
  background: #0084A9;
  -webkit-transition: background-color .1s linear .1s;
  transition: background-color .1s linear .1s;
}

/* line 252, ../sass/_pivot-homepage-hero.scss */
.front #topslide a.important:hover,
.front #topslide a.important:focus {
  background: #0090B8;
}

/* line 256, ../sass/_pivot-homepage-hero.scss */
.front .slide-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #000;
  z-index: 99;
  display: table;
  color: #fff;
  height: 80px;
}

/* line 268, ../sass/_pivot-homepage-hero.scss */
.front .slide-nav .headline {
  display: none;
}

/* line 272, ../sass/_pivot-homepage-hero.scss */
.front .slide-nav a {
  display: block;
  position: relative;
  line-height: 80px;
  white-space: nowrap;
  color: #00b5cc;
}

/* line 282, ../sass/_pivot-homepage-hero.scss */
.front .slide-nav .active a,
.front .slide-nav a:hover,
.front .slide-nav a:focus {
  color: #fff;
  text-decoration: none;
}

/* line 287, ../sass/_pivot-homepage-hero.scss */
.front .slide-nav a:before {
  content: " ";
  display: inline-block;
  background-repeat: no-repeat;
  margin-right: 11px;
  vertical-align: text-bottom;
}

/* line 295, ../sass/_pivot-homepage-hero.scss */
.front .slide-nav .shows a:before {
  width: 28px;
  height: 27px;
  background-image: url(../images/home_shows_off.png);
}

/* line 303, ../sass/_pivot-homepage-hero.scss */
.front .slide-nav .shows.active a:before,
.front .slide-nav .shows a:hover:before,
.front .slide-nav .shows a:focus:before {
  background-image: url(../images/home_shows_on.png);
}

/* line 307, ../sass/_pivot-homepage-hero.scss */
.front .slide-nav .movies a:before {
  width: 29px;
  height: 28px;
  background-image: url(../images/home_movies_off.png);
}

/* line 315, ../sass/_pivot-homepage-hero.scss */
.front .slide-nav .movies.active a:before,
.front .slide-nav .movies a:hover:before,
.front .slide-nav .movies a:focus:before {
  background-image: url(../images/home_movies_on.png);
}

/* line 319, ../sass/_pivot-homepage-hero.scss */
.front .slide-nav .watch_now a:before {
  width: 27px;
  height: 28px;
  background-image: url(../images/home_watch_off.png);
}

/* line 327, ../sass/_pivot-homepage-hero.scss */
.front .slide-nav .watch_now.active a:before,
.front .slide-nav .watch_now a:hover:before,
.front .slide-nav .watch_now a:focus:before {
  background-image: url(../images/home_watch_on.png);
}

/* line 331, ../sass/_pivot-homepage-hero.scss */
.front .slide-nav .take_action a:before {
  width: 33px;
  height: 28px;
  background-image: url(../images/home_action_off.png);
}

/* line 339, ../sass/_pivot-homepage-hero.scss */
.front .slide-nav .take_action.active a:before,
.front .slide-nav .take_action a:hover:before,
.front .slide-nav .take_action a:focus:before {
  background-image: url(../images/home_action_on.png);
}

/* line 343, ../sass/_pivot-homepage-hero.scss */
.front .slide-nav .schedule a:before {
  width: 29px;
  height: 28px;
  background-image: url(../images/home_schedule_off.png);
}

/* line 351, ../sass/_pivot-homepage-hero.scss */
.front .slide-nav .schedule.active a:before,
.front .slide-nav .schedule a:hover:before,
.front .slide-nav .schedule a:focus:before {
  background-image: url(../images/home_schedule_on.png);
}

/* line 355, ../sass/_pivot-homepage-hero.scss */
.front .slide-nav .blog a:before {
  width: 22px;
  height: 28px;
  background-image: url(../images/home_blog_off.png);
}

/* line 363, ../sass/_pivot-homepage-hero.scss */
.front .slide-nav .blog.active a:before,
.front .slide-nav .blog a:hover:before,
.front .slide-nav .blog a:focus:before {
  background-image: url(../images/home_blog_on.png);
}

/* line 367, ../sass/_pivot-homepage-hero.scss */
.front .slide-nav .item {
  position: relative;
  text-align: center;
  width: 16.66%;
  float: left;
}

/* line 374, ../sass/_pivot-homepage-hero.scss */
.front .slide-nav .item:after {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
  overflow: hidden;
  content: " ";
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.25) 40%, rgba(255, 255, 255, 0.25) 60%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.25) 40%, rgba(255, 255, 255, 0.25) 60%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 0) 100%);
  /* W3C */
}

/* line 388, ../sass/_pivot-homepage-hero.scss */
.front .slide-nav .list:last-child:after {
  display: none;
}

/* line 392, ../sass/_pivot-homepage-hero.scss */
.front .slide-wrapper {
  white-space: nowrap;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 399, ../sass/_pivot-homepage-hero.scss */
.front .slide-wrapper .slide {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  padding: 57px 0 80px 0;
}

/* line 408, ../sass/_pivot-homepage-hero.scss */
.front .tpslide_nav {
  display: none;
}

/* line 412, ../sass/_pivot-homepage-hero.scss */
.front .tpslide_wrapper {
  display: block;
}

/**
 * TODO mw removed all duplicate CSS below this
 * since CSS doesn't nest comments and it was messing up
 * LITERALLY EVERYTHING.
 */
/**
*
*Added CSS from static
*
*/
/* line 430, ../sass/_pivot-homepage-hero.scss */
.front #home-header .pivot-headline.dark {
  background-image: url(../images/logo-dark.png);
}

/* line 433, ../sass/_pivot-homepage-hero.scss */
a:focus, a::-moz-focus-inner {
  border: 0;
  outline: none;
}

/* ============================================================
|| Global;
============================================================ */
@media (max-width: 1000px) {
  /* line 6, ../sass/_pivot-homepage-hero-responsive.scss */
  #content .primary,
  #content .secondary {
    float: none;
    margin: 0 auto;
  }

  /* line 10, ../sass/_pivot-homepage-hero-responsive.scss */
  #content .secondary {
    text-align: center;
  }

  /* line 13, ../sass/_pivot-homepage-hero-responsive.scss */
  #content .secondary .section {
    text-align: left;
  }
}
/* Promo List */
@media (max-width: 680px) {
  /* line 20, ../sass/_pivot-homepage-hero-responsive.scss */
  .promo-list .half {
    display: block;
    width: 100%;
  }

  /* line 24, ../sass/_pivot-homepage-hero-responsive.scss */
  .promo-list .promo img {
    display: none;
  }

  /* line 27, ../sass/_pivot-homepage-hero-responsive.scss */
  .promo-list .promo .info {
    position: relative;
    width: 100%;
    padding: 0 5%;
  }
}
/* ============================================================
|| Section: Home Page;
============================================================ */
/* Hero Header */
@media (max-width: 680px) {
  /* line 40, ../sass/_pivot-homepage-hero-responsive.scss */
  .front #home-header {
    padding-left: 5%;
    padding-right: 5%;
  }

  /* line 45, ../sass/_pivot-homepage-hero-responsive.scss */
  .front #home-header .pivot-headline,
  .front #home-header .secondary {
    float: none;
    margin: 0 auto 20px auto;
    text-align: center;
  }

  /* line 51, ../sass/_pivot-homepage-hero-responsive.scss */
  .front #home-header .secondary .social ul {
    float: none;
  }

  /* line 55, ../sass/_pivot-homepage-hero-responsive.scss */
  .front #home-header .secondary .social .item {
    float: none;
    display: inline-block;
    *display: inline;
    *zoom: 1;
    vertical-align: middle;
  }

  /* line 60, ../sass/_pivot-homepage-hero-responsive.scss */
  .front #home-header .secondary .find .important {
    white-space: normal;
  }
}
/* Hero Slides */
@media (max-width: 1600px) {
  /* line 66, ../sass/_pivot-homepage-hero-responsive.scss */
  .front .video-content .promo {
    width: 40%;
  }

  /* line 69, ../sass/_pivot-homepage-hero-responsive.scss */
  .front .video-content .primary {
    width: 60%;
  }

  /* line 72, ../sass/_pivot-homepage-hero-responsive.scss */
  .front .video-content .primary .headline {
    font-size: 50px;
  }

  /* line 75, ../sass/_pivot-homepage-hero-responsive.scss */
  .front .video-content .primary .description {
    font-size: 20px;
  }
}
@media (max-width: 1100px) {
  /* line 80, ../sass/_pivot-homepage-hero-responsive.scss */
  .front .video-content .promo img {
    display: none;
  }

  /* line 83, ../sass/_pivot-homepage-hero-responsive.scss */
  .front .video-content .primary {
    margin-left: 40%;
    width: 60%;
  }
}
@media (max-width: 680px) {
  /* line 90, ../sass/_pivot-homepage-hero-responsive.scss */
  .front .video-content .primary {
    width: 100%;
    padding-left: 5%;
    padding-right: 5%;
    margin-left: 0;
  }
  /* line 95, ../sass/_pivot-homepage-hero-responsive.scss */
  .front .video-content .primary h3.headline {
    text-align: center;
    font-size: 40px;
  }
  /* line 99, ../sass/_pivot-homepage-hero-responsive.scss */
  .front .video-content .primary p.description {
    text-align: center;
    font-size: 18px;
  }
  /* line 104, ../sass/_pivot-homepage-hero-responsive.scss */
  .front p.more {
    float: left;
    position: relative;
    left: 50%;
  }
  /* line 108, ../sass/_pivot-homepage-hero-responsive.scss */
  .front p.more a {
    float: left;
    position: relative;
    left: -50%;
  }
}
/* Show */
@media (max-width: 680px) {
  /* line 119, ../sass/_pivot-homepage-hero-responsive.scss */
  .show .show-actions .half {
    width: 100%;
  }
}
/* Hero Nav */
@media (max-width: 1100px) {
  /* line 126, ../sass/_pivot-homepage-hero-responsive.scss */
  .front .slide-nav .item-title {
    display: none;
  }
}
@media (max-width: 767px) {
  /* line 131, ../sass/_pivot-homepage-hero-responsive.scss */
  .front .slide-wrapper .video-player {
    display: none;
  }
}
/* Upcoming Bar */
@media (max-width: 979px) {
  /* line 138, ../sass/_pivot-homepage-hero-responsive.scss */
  .upcoming .headline {
    white-space: normal;
  }

  /* line 142, ../sass/_pivot-homepage-hero-responsive.scss */
  .upcoming .full-schedule .important {
    white-space: normal;
  }
}
@media (max-width: 767px) {
  /* iPad vertical */
  /* line 147, ../sass/_pivot-homepage-hero-responsive.scss */
  .upcoming .headline {
    display: none;
  }
}
@media (max-width: 480px) {
  /* iPhone vertical */
  /* line 152, ../sass/_pivot-homepage-hero-responsive.scss */
  .upcoming .times {
    display: none;
  }
}
