/*
 * Global Pivot.tv styles
 */
/*
	Hacks:
		Targetting IE7:
			*+html [selector] {}
		Display inline-block on block-level element for IE6/7
			div {
				display: inline-block; *display: inline; zoom: 1; vertical-align: bottom;
			}
*/
/* ============================================================
|| 1.) General Site Layout
============================================================ */
/* line 19, ../sass/_pivot-global.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 25, ../sass/_pivot-global.scss */
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #999;
}

/* line 28, ../sass/_pivot-global.scss */
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999;
}

/* line 31, ../sass/_pivot-global.scss */
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999;
}

/* line 34, ../sass/_pivot-global.scss */
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #999;
}

/* line 38, ../sass/_pivot-global.scss */
html {
  height: 100%;
  font-size: 20px;
  overflow-y: scroll;
}

/* line 44, ../sass/_pivot-global.scss */
body {
  font-size: 20px;
  background: #f1f3f4;
  font-family: Helvetica,Arial,sans-serif;
  position: relative;
  font-family: "Apercu Regular", sans-serif;
}

/* line 53, ../sass/_pivot-global.scss */
a:link,
a:visited {
  text-decoration: none;
  color: #1CA9E7;
}

/* line 59, ../sass/_pivot-global.scss */
a:hover,
a:active {
  text-decoration: underline;
}

/* Main */
/* line 64, ../sass/_pivot-global.scss */
#main {
  padding: 1em;
  background: #fff;
}

/* Main content area */
/* line 70, ../sass/_pivot-global.scss */
#content .primary {
  width: 31em;
  float: left;
}

/* Right Rail */
/* line 76, ../sass/_pivot-global.scss */
#content .secondary {
  width: 15em;
  float: right;
}

/* line 81, ../sass/_pivot-global.scss */
#content .secondary .section {
  margin-bottom: 1em;
}

/* Header */
/* line 86, ../sass/_pivot-global.scss */
#site-header {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 100%;
}

/* line 92, ../sass/_pivot-global.scss */
#site-header .nav {
  float: left;
  width: 100%;
}

/* line 97, ../sass/_pivot-global.scss */
#site-header .nav li {
  float: left;
}

/* line 101, ../sass/_pivot-global.scss */
#site-header .nav li a {
  font-size: 14px;
  display: block;
  padding: 1em;
}

/* line 107, ../sass/_pivot-global.scss */
#site-header .block-search {
  float: left;
}

/* Footer */
/* line 112, ../sass/_pivot-global.scss */
#site-footer {
  background: #424242 url(../images/secondary-background.gif) left top repeat;
  color: #ccc;
  float: left;
  width: 100%;
  position: relative;
  z-index: 2;
  overflow: hidden;
  box-shadow: inset 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
}

/* line 123, ../sass/_pivot-global.scss */
#site-footer .site-wrapper {
  padding: 1em 0;
}

/* line 127, ../sass/_pivot-global.scss */
#site-footer a {
  color: #ccc;
}

/* line 131, ../sass/_pivot-global.scss */
#site-footer .nav {
  float: left;
  display: table;
}

/* line 138, ../sass/_pivot-global.scss */
#site-footer .nav .headline,
#site-footer .nav .list,
#site-footer .nav .item {
  float: left;
}

/* line 142, ../sass/_pivot-global.scss */
#site-footer .nav .item {
  margin-left: 12px;
}

/* line 146, ../sass/_pivot-global.scss */
#site-footer .footer-main-nav {
  margin: 1em auto 2em auto;
  float: none;
}

/* line 151, ../sass/_pivot-global.scss */
#site-footer .footer-main-nav .headline {
  display: none;
}

/* line 155, ../sass/_pivot-global.scss */
#site-footer .footer-main-nav .item {
  float: left;
  text-align: center;
  margin-left: 0;
}

/* line 161, ../sass/_pivot-global.scss */
#site-footer .footer-main-nav .item a {
  padding: 0 32px;
}

/* line 165, ../sass/_pivot-global.scss */
#site-footer .nav .headline {
  font-size: 13px;
  float: left;
}

/* line 170, ../sass/_pivot-global.scss */
#site-footer .nav .item a {
  font-size: 13px;
}

/* line 174, ../sass/_pivot-global.scss */
#site-footer .secondary {
  display: table;
  margin: 2em auto 2em auto;
  line-height: 45px;
  font-family: "Apercu Mono Regular", monospace;
}

/* line 182, ../sass/_pivot-global.scss */
#site-footer .footer-follow-nav,
#site-footer .footer-apps-nav {
  margin-right: 1.5em;
}

/* line 187, ../sass/_pivot-global.scss */
#site-footer .footer-follow-nav a,
#site-footer .footer-apps-nav a {
  display: inline-block;
  width: 38px;
  height: 38px;
  white-space: nowrap;
  text-indent: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
}

/* line 197, ../sass/_pivot-global.scss */
#site-footer .footer-follow-nav .facebook a {
  background-image: url(../images/footer_social_facebook.png);
}

/* line 201, ../sass/_pivot-global.scss */
#site-footer .footer-follow-nav .twitter a {
  background-image: url(../images/footer_social_twitter.png);
}

/* line 205, ../sass/_pivot-global.scss */
#site-footer .footer-follow-nav .youtube a {
  background-image: url(../images/footer_social_youtube.png);
}

/* line 209, ../sass/_pivot-global.scss */
#site-footer .footer-follow-nav .googleplus a {
  background-image: url(../images/footer_social_googleplus.png);
}

/* line 213, ../sass/_pivot-global.scss */
#site-footer .footer-apps-nav .apple a {
  background-image: url(../images/footer_apps_apple.png);
}

/* line 217, ../sass/_pivot-global.scss */
#site-footer .footer-apps-nav .android a {
  background-image: url(../images/footer_apps_android.png);
}

/* line 221, ../sass/_pivot-global.scss */
#site-footer .footer-participant-nav a {
  display: inline-block;
  white-space: nowrap;
  text-indent: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
}

/* line 229, ../sass/_pivot-global.scss */
#site-footer .footer-participant-nav .takepart a {
  background-image: url(../images/footer_participant_takepart.png);
  width: 45px;
  height: 45px;
}

/* line 235, ../sass/_pivot-global.scss */
#site-footer .footer-participant-nav .pivot a {
  background-image: url(../images/footer_participant_pivot.png);
  width: 48px;
  height: 16px;
}

/* line 241, ../sass/_pivot-global.scss */
#site-footer .footer-participant-nav .participant a {
  background-image: url(../images/footer_participant_participant.png);
  width: 113px;
  height: 24px;
  vertical-align: middle;
}

/* line 248, ../sass/_pivot-global.scss */
#site-footer #copyright {
  margin-bottom: 1em;
}

/* line 252, ../sass/_pivot-global.scss */
#site-footer #copyright p {
  font-size: 12px;
  text-align: center;
  color: #999;
}

/* ============================================================
|| 2.) Reusables/Modules
============================================================ */
/* Skip link */
/* line 263, ../sass/_pivot-global.scss */
.skip-link a {
  position: absolute !important;
  clip: rect(1px 1px 1px 1px);
  clip: rect(1px, 1px, 1px, 1px);
  overflow: hidden;
  height: 1px;
  text-decoration: underline;
}

/* line 273, ../sass/_pivot-global.scss */
.skip-link a:active,
.skip-link a:focus {
  position: static !important;
  clip: auto;
  overflow: visible;
  height: auto;
}

/* Site wrappers */
/* line 281, ../sass/_pivot-global.scss */
.site-wrapper {
  width: 49em;
  position: relative;
  margin: auto;
  padding: 1em;
  display: table;
}

/* Right Rail */
/* line 290, ../sass/_pivot-global.scss */
.region-right-rail {
  float: right;
  margin-right: 1em;
}

/* "Buttons" */
/* line 297, ../sass/_pivot-global.scss */
a.important:link,
a.important:visited {
  text-decoration: none;
  color: #fff;
  background-color: #01bf9e;
  font-size: 16px;
  line-height: 18px;
  white-space: nowrap;
  display: inline-block;
  padding: 8px 39px 8px 19px;
  border-radius: 3px;
  text-transform: uppercase;
  position: relative;
  box-shadow: 0 3px 0 rgba(50, 50, 50, 0.75);
}

/* line 312, ../sass/_pivot-global.scss */
a.important:after {
  content: " ";
  display: block;
  position: absolute;
  right: 19px;
  top: 50%;
  margin-top: -9px;
  background-repeat: no-repeat;
  background-image: url(../images/rightarrow_small.png);
  width: 11px;
  height: 18px;
  -webkit-transition: right .1s linear .1s;
  transition: right .1s linear .1s;
}

/* line 327, ../sass/_pivot-global.scss */
a.important:hover:after {
  right: 10px;
}

/* line 331, ../sass/_pivot-global.scss */
a.important .pivot {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(../images/pivot_small_white.png);
  width: 48px;
  height: 16px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: bottom;
}

/* Top? Schedule */
/* line 344, ../sass/_pivot-global.scss */
.upcoming {
  position: absolute;
  width: 100%;
  z-index: 5;
  background: black url(../images/secondary-background.gif) left top repeat;
  height: 57px;
  color: #fff;
  display: table;
  box-shadow: inset 0px -10px 20px 0px rgba(0, 0, 0, 0.25);
}

/* line 356, ../sass/_pivot-global.scss */
.upcoming a {
  color: #01bf9e;
}

/* line 360, ../sass/_pivot-global.scss */
.upcoming .inner {
  display: table-row;
}

/* line 364, ../sass/_pivot-global.scss */
.upcoming .headline a {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
  padding: 5px 25px 5px 10px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  color: #fff;
}

/* line 376, ../sass/_pivot-global.scss */
.upcoming .headline a:after {
  content: " ";
  display: block;
  position: absolute;
  right: 5px;
  top: 50%;
  margin-top: -11px;
  width: 11px;
  height: 22px;
  background-repeat: no-repeat;
  background-image: url(../images/rightarrow_medium.png);
  vertical-align: middle;
}

/* line 393, ../sass/_pivot-global.scss */
.upcoming .headline,
.upcoming .times,
.upcoming .full-schedule,
.upcoming .times .item {
  display: table-cell;
  vertical-align: middle;
}

/* line 398, ../sass/_pivot-global.scss */
.upcoming .times .item {
  font-family: "Apercu Mono Regular", monospace, sans-serif;
  font-size: 14px;
  position: relative;
  text-align: center;
  padding: 0 5px;
}

/* line 406, ../sass/_pivot-global.scss */
.upcoming .times .inner {
  display: table;
  margin: auto;
}

/* line 411, ../sass/_pivot-global.scss */
.upcoming .times .item:before {
  content: " ";
  width: 1px;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.25) 40%, rgba(255, 255, 255, 0.25) 60%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.25) 40%, rgba(255, 255, 255, 0.25) 60%, rgba(255, 255, 255, 0) 100%);
  /* W3C */
}

/* line 424, ../sass/_pivot-global.scss */
.upcoming .times .item:first-child:before {
  display: none;
}

/* line 428, ../sass/_pivot-global.scss */
.upcoming .times .item:after {
  content: " ";
  width: 1px;
  display: block;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 40%, rgba(0, 0, 0, 0.25) 60%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 40%, rgba(0, 0, 0, 0.25) 60%, rgba(0, 0, 0, 0) 100%);
  /* W3C */
}

/* line 442, ../sass/_pivot-global.scss */
.upcoming .times .time,
.upcoming .times .show {
  padding: 0 5px;
}

/* line 446, ../sass/_pivot-global.scss */
.upcoming .full-schedule {
  padding: 0 5px;
}

/* Pretty form selects */
/* line 452, ../sass/_pivot-global.scss */
.tpselect_wrapper {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  background: #f2f2f2;
  border-radius: 2px;
  box-shadow: 0 3px 0 rgba(50, 50, 50, 0.75);
  vertical-align: bottom;
}

/* line 462, ../sass/_pivot-global.scss */
.tpselect_wrapper.tpselect_focus {
  background: #000;
  color: #fff;
}

/* line 467, ../sass/_pivot-global.scss */
.tpselect_wrapper select {
  height: 100%;
  width: 100%;
}

/* line 472, ../sass/_pivot-global.scss */
.tpselect_wrapper .tpselect_value {
  position: relative;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 46px 0 11px;
  font-size: 13px;
  font-family: "Apercu Mono Regular", monospace;
}

/* line 483, ../sass/_pivot-global.scss */
.tpselect_wrapper .tpselect_value:after {
  display: block;
  content: " ";
  background-image: url(../images/form_dropdown_button.png);
  width: 35px;
  height: 30px;
  position: absolute;
  right: 0;
  top: 0;
}

/* Find pivot right rail */
/* line 496, ../sass/_pivot-global.scss */
.find-pivot {
  padding: 16px 10px;
  background: #fff;
  position: relative;
}

/* line 502, ../sass/_pivot-global.scss */
.find-pivot label {
  position: absolute;
  right: 0;
  top: 0;
  width: 10px;
  height: 16px;
  white-space: nowrap;
  text-indent: 100%;
  overflow: hidden;
}

/* line 513, ../sass/_pivot-global.scss */
.find-pivot .tpselect_value {
  width: 130px;
}

/* line 517, ../sass/_pivot-global.scss */
.find-pivot .headline {
  color: #424242;
  font-size: 1.05em;
  text-transform: uppercase;
  margin-bottom: 13px;
}

/* line 524, ../sass/_pivot-global.scss */
.find-pivot .headline .pivot {
  display: inline-block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 64px;
  height: 22px;
  background-repeat: no-repeat;
  background-image: url(../images/pivot_medium_black.png);
  vertical-align: text-bottom;
}

/* line 536, ../sass/_pivot-global.scss */
.find-pivot .text {
  width: 100px;
  height: 30px;
  line-height: 30px;
  font-size: 18px;
  background: #f2f2f2;
  border-radius: 3px;
  border: none;
  padding: 0 7px;
  box-shadow: inset 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
}

/* line 548, ../sass/_pivot-global.scss */
.find-pivot .submit {
  display: inline-block;
  text-indent: 200%;
  white-space: nowrap;
  overflow: hidden;
  width: 30px;
  height: 30px;
  background-repeat: no-repeat;
  background-position: 11px 6px;
  background-image: url(../images/rightarrow_small.png);
  color: #666;
  font-size: 13px;
  position: relative;
  border: none;
  background-color: #01bf9e;
  border-radius: 3px;
  box-shadow: 0 3px 0 rgba(50, 50, 50, 0.75);
  vertical-align: top;
}

/* ============================================================
|| 3.) Section Specific
============================================================ */
/* ============================================================
|| 4.) Page Specific
============================================================ */
/* Home Page
------------------------------------------------------------ */
/* line 580, ../sass/_pivot-global.scss */
body.home {
  height: 100%;
}

/* line 584, ../sass/_pivot-global.scss */
.home #site-header {
  display: none;
}

/* line 588, ../sass/_pivot-global.scss */
.home #home-header {
  position: absolute;
  left: 0;
  top: 0;
  padding: 6em 4em 0 4em;
  z-index: 4;
  color: #fff;
  width: 100%;
}

/* line 598, ../sass/_pivot-global.scss */
.home #home-header .pivot-headline {
  overflow: hidden;
  text-indent: 100%;
  white-space: nowrap;
  width: 224px;
  height: 82px;
  background-repeat: no-repeat;
  background-image: url(../images/logo.png);
  float: left;
}

/* line 609, ../sass/_pivot-global.scss */
.home #home-header .secondary {
  float: right;
}

/* line 613, ../sass/_pivot-global.scss */
.home #home-header .social {
  float: left;
  width: 100%;
  margin-bottom: 15px;
}

/* line 619, ../sass/_pivot-global.scss */
.home #home-header .social .item {
  float: left;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
  width: 30px;
  height: 33px;
  background-repeat: no-repeat;
  margin-left: 11px;
}

/* line 630, ../sass/_pivot-global.scss */
.home #home-header .social .facebook {
  background-image: url(../images/home_social_facebook.png);
}

/* line 634, ../sass/_pivot-global.scss */
.home #home-header .social .googleplus {
  background-image: url(../images/home_social_googleplus.png);
}

/* line 638, ../sass/_pivot-global.scss */
.home #home-header .social .twitter {
  background-image: url(../images/home_social_twitter.png);
}

/* line 642, ../sass/_pivot-global.scss */
.home #home-header .social .item a {
  display: block;
  height: 100%;
}

/* line 647, ../sass/_pivot-global.scss */
.home #main {
  min-height: 100%;
  padding: 0;
  background: transparent;
}

/* line 653, ../sass/_pivot-global.scss */
.home #wrapper {
  width: auto;
  height: 100%;
}

/* line 658, ../sass/_pivot-global.scss */
.home #video {
  background: #000;
}

/* line 663, ../sass/_pivot-global.scss */
.home .video-player,
.home .video-image {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}

/* line 670, ../sass/_pivot-global.scss */
.home .active .video-player {
  z-index: 2;
  opacity: 1;
}

/* line 675, ../sass/_pivot-global.scss */
.home .video-image.loaded {
  opacity: 1;
}

/* line 680, ../sass/_pivot-global.scss */
.home .video-player,
.home .slide:first-child .video-image {
  -webkit-transition: opacity .1s linear .1s;
  transition: opacity .1s linear .1s;
}

/* line 685, ../sass/_pivot-global.scss */
.home .slide {
  white-space: normal;
}

/* line 689, ../sass/_pivot-global.scss */
.home .slide .active .video-image {
  opacity: 1;
  z-index: 1;
}

/* line 694, ../sass/_pivot-global.scss */
.home .video-content {
  z-index: 3;
  position: absolute;
  color: #fff;
  bottom: 79px;
  display: table;
  width: 100%;
}

/* line 703, ../sass/_pivot-global.scss */
.home .video-content-inner {
  display: table-row;
}

/* line 707, ../sass/_pivot-global.scss */
.home .video-content img {
  display: block;
  box-shadow: 15px 14px 20px rgba(0, 0, 0, 0.5);
}

/* line 713, ../sass/_pivot-global.scss */
.home .video-content .primary,
.home .video-content .secondary {
  display: table-cell;
  vertical-align: top;
}

/* line 718, ../sass/_pivot-global.scss */
.home .video-content .primary {
  width: 1px;
}

/* line 722, ../sass/_pivot-global.scss */
.home .video-content .secondary {
  font-size: 24px;
  line-height: 1.6;
  padding: 0 10px 0 50px;
}

/* line 728, ../sass/_pivot-global.scss */
.home .video-content .secondary .headline {
  font-size: 60px;
  font-weight: bold;
  font-style: italic;
  white-space: nowrap;
}

/* line 735, ../sass/_pivot-global.scss */
.home .video-content .secondary .description {
  margin-bottom: 15px;
  font-family: "Apercu Mono Regular", monospace;
}

/* Top slide */
/* line 742, ../sass/_pivot-global.scss */
.home #topslide {
  height: 100%;
  background: #000;
  position: relative;
}

/* line 748, ../sass/_pivot-global.scss */
.home #topslide a.important {
  background: #0084a9;
}

/* line 752, ../sass/_pivot-global.scss */
.home .slide-nav {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #000;
  z-index: 99;
  display: table;
  color: #fff;
}

/* line 763, ../sass/_pivot-global.scss */
.home .slide-nav .headline {
  display: none;
}

/* line 767, ../sass/_pivot-global.scss */
.home .slide-nav a {
  display: block;
  position: relative;
  line-height: 79px;
  white-space: nowrap;
  color: #00b5cc;
}

/* line 776, ../sass/_pivot-global.scss */
.home .slide-nav .active a,
.home .slide-nav a:hover {
  color: #fff;
  text-decoration: none;
}

/* line 781, ../sass/_pivot-global.scss */
.home .slide-nav a:before {
  content: " ";
  display: inline-block;
  background-repeat: no-repeat;
  margin-right: 11px;
  vertical-align: text-bottom;
}

/* line 789, ../sass/_pivot-global.scss */
.home .slide-nav .shows a:before {
  width: 28px;
  height: 27px;
  background-image: url(../images/home_shows_off.png);
}

/* line 796, ../sass/_pivot-global.scss */
.home .slide-nav .shows.active a:before,
.home .slide-nav .shows a:hover:before {
  background-image: url(../images/home_shows_on.png);
}

/* line 800, ../sass/_pivot-global.scss */
.home .slide-nav .movies a:before {
  width: 29px;
  height: 28px;
  background-image: url(../images/home_movies_off.png);
}

/* line 807, ../sass/_pivot-global.scss */
.home .slide-nav .movies.active a:before,
.home .slide-nav .movies a:hover:before {
  background-image: url(../images/home_movies_on.png);
}

/* line 811, ../sass/_pivot-global.scss */
.home .slide-nav .watch_now a:before {
  width: 27px;
  height: 28px;
  background-image: url(../images/home_watch_off.png);
}

/* line 818, ../sass/_pivot-global.scss */
.home .slide-nav .watch_now.active a:before,
.home .slide-nav .watch_now a:hover:before {
  background-image: url(../images/home_watch_on.png);
}

/* line 822, ../sass/_pivot-global.scss */
.home .slide-nav .take_action a:before {
  width: 33px;
  height: 28px;
  background-image: url(../images/home_action_off.png);
}

/* line 829, ../sass/_pivot-global.scss */
.home .slide-nav .take_action.active a:before,
.home .slide-nav .take_action a:hover:before {
  background-image: url(../images/home_action_on.png);
}

/* line 833, ../sass/_pivot-global.scss */
.home .slide-nav .schedule a:before {
  width: 29px;
  height: 28px;
  background-image: url(../images/home_schedule_off.png);
}

/* line 840, ../sass/_pivot-global.scss */
.home .slide-nav .schedule.active a:before,
.home .slide-nav .schedule a:hover:before {
  background-image: url(../images/home_schedule_on.png);
}

/* line 844, ../sass/_pivot-global.scss */
.home .slide-nav .blog a:before {
  width: 22px;
  height: 28px;
  background-image: url(../images/home_blog_off.png);
}

/* line 851, ../sass/_pivot-global.scss */
.home .slide-nav .blog.active a:before,
.home .slide-nav .blog a:hover:before {
  background-image: url(../images/home_blog_on.png);
}

/* line 854, ../sass/_pivot-global.scss */
.home .slide-nav .active-selector {
  position: absolute;
  width: 16.66%;
  height: 100%;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

/* line 861, ../sass/_pivot-global.scss */
.home .slide-nav .active-selector:after {
  display: block;
  content: " ";
  width: 0;
  height: 0;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  border-bottom: 10px solid white;
  bottom: 0;
  left: 50%;
  margin-left: -3px;
  position: absolute;
}

/* line 875, ../sass/_pivot-global.scss */
.home .slide-nav .item {
  position: relative;
  text-align: center;
  width: 16.66%;
  float: left;
}

/* line 882, ../sass/_pivot-global.scss */
.home .slide-nav .item:after {
  display: block;
  position: absolute;
  right: 0;
  top: 0;
  width: 1px;
  height: 100%;
  overflow: hidden;
  content: " ";
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.25) 40%, rgba(255, 255, 255, 0.25) 60%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0) 20%, rgba(255, 255, 255, 0.25) 40%, rgba(255, 255, 255, 0.25) 60%, rgba(255, 255, 255, 0) 80%, rgba(255, 255, 255, 0) 100%);
  /* W3C */
}

/* line 896, ../sass/_pivot-global.scss */
.home .slide-nav .list:last-child:after {
  display: none;
}

/* line 900, ../sass/_pivot-global.scss */
.home .slide-wrapper {
  white-space: nowrap;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

/* line 907, ../sass/_pivot-global.scss */
.home .slide-wrapper .slide {
  display: inline-block;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
  padding: 217px 0 0 0;
}

/* line 916, ../sass/_pivot-global.scss */
.home .tpslide_nav {
  display: none;
}

/* line 920, ../sass/_pivot-global.scss */
.home .tpslide_wrapper {
  display: block;
}

/* line 924, ../sass/_pivot-global.scss */
.home #what-is-pivot .video {
  margin-bottom: 10px;
}

/* line 928, ../sass/_pivot-global.scss */
.home #what-is-pivot > .headline {
  font-size: 1.2em;
  margin-bottom: 15px;
  text-transform: uppercase;
}

/* line 934, ../sass/_pivot-global.scss */
.home #what-is-pivot .headline .pivot {
  background-repeat: no-repeat;
  background-image: url(../images/pivot_medium_black_colored.png);
  width: 80px;
  height: 28px;
  display: inline-block;
  white-space: nowrap;
  text-indent: 100%;
  overflow: hidden;
  vertical-align: text-bottom;
}

/* line 946, ../sass/_pivot-global.scss */
.home #what-is-pivot .cms {
  font-size: 14px;
}

/* line 950, ../sass/_pivot-global.scss */
.home #home-promos {
  margin: 1em 0;
}

/* line 954, ../sass/_pivot-global.scss */
.home #home-promos {
  margin: 1em 0;
}

/* line 958, ../sass/_pivot-global.scss */
.home #home-promos .promo {
  float: left;
  width: 15em;
  position: relative;
}

/* line 964, ../sass/_pivot-global.scss */
.home #home-promos .promo img {
  display: block;
}

/* line 968, ../sass/_pivot-global.scss */
.home #home-promos .promo .info {
  background-color: rgba(255, 255, 255, 0.8);
  width: 234px;
  height: 98px;
  position: absolute;
  left: 0;
  bottom: 0;
  line-height: 98px;
  padding: 0 36px;
}

/* line 979, ../sass/_pivot-global.scss */
.home #home-promos .promo .info-inner {
  display: inline-block;
  *display: inline;
  zoom: 1;
  line-height: 1;
  vertical-align: middle;
}

/* line 985, ../sass/_pivot-global.scss */
.home #home-promos .promo .headline {
  font-size: 1.2em;
  color: #0084a9;
  font-style: italic;
  font-weight: bold;
}

/* line 992, ../sass/_pivot-global.scss */
.home #home-promos .promo .time {
  font-size: 13px;
  font-family: "Apercu Mono Regular", monospace;
}

/* line 997, ../sass/_pivot-global.scss */
.home #home-promos .promo:nth-child(even) {
  float: right;
}

/*
 * Homepage Styles for Pivot.tv
 */
@media (max-width: 979px) {
  /* line 2, ../sass/_pivot-responsive.scss */
  .upcoming .headline {
    white-space: normal;
  }

  /* line 6, ../sass/_pivot-responsive.scss */
  .upcoming .full-schedule .important {
    white-space: normal;
  }
}
/* iPad vertical */
@media (max-width: 767px) {
  /* line 13, ../sass/_pivot-responsive.scss */
  .upcoming .headline {
    display: none;
  }
}
/* iPhone vertical */
@media (max-width: 480px) {
  /* line 20, ../sass/_pivot-responsive.scss */
  .upcoming .times {
    display: none;
  }
}
/* iPhone vertical */
