@media screen and (min-width: 960px) {
  /* line 6, ../sass/_pivot-layout.scss */
  .site-wrapper {
    max-width: 960px;
    margin: auto;
  }
  /* line 52, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .site-wrapper:before, .site-wrapper:after {
    content: "";
    display: table;
  }
  /* line 56, ../sass-extensions/zen-grids/stylesheets/zen/_grids.scss */
  .site-wrapper:after {
    clear: both;
  }

  /* line 14, ../sass/_pivot-layout.scss */
  .primary {
    float: left;
    width: 100%;
    margin-left: 0%;
    margin-right: -100%;
    padding-left: 5px;
    padding-right: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
  /* line 16, ../sass/_pivot-layout.scss */
  .primary.with-sidebar {
    float: left;
    width: 66.66667%;
    margin-left: 0%;
    margin-right: -66.66667%;
    padding-left: 5px;
    padding-right: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }

  /* line 21, ../sass/_pivot-layout.scss */
  .secondary {
    float: left;
    width: 33.33333%;
    margin-left: 66.66667%;
    margin-right: -100%;
    padding-left: 5px;
    padding-right: 5px;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    word-wrap: break-word;
  }
}
/*
 * Global Pivot.tv styles
 */
/*
	Hacks:
		Targetting IE7:
			*+html [selector] {}
		Display inline-block on block-level element for IE6/7
			div {
				display: inline-block; *display: inline; zoom: 1; vertical-align: bottom;
			}
*/
/* ============================================================
|| 1.) General Site Layout
============================================================ */
/* line 19, ../sass/_pivot-global.scss */
* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

/* line 25, ../sass/_pivot-global.scss */
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #999;
}

/* line 28, ../sass/_pivot-global.scss */
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #999;
}

/* line 31, ../sass/_pivot-global.scss */
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #999;
}

/* line 34, ../sass/_pivot-global.scss */
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #999;
}

/* line 38, ../sass/_pivot-global.scss */
html {
  height: 100%;
  font-size: 20px;
  overflow-y: scroll;
}

/* line 44, ../sass/_pivot-global.scss */
body {
  font-size: 20px;
  background: #f1f3f4;
  font-family: Helvetica,Arial,sans-serif;
  position: relative;
  font-family: "Apercu Regular", sans-serif;
}

/* line 53, ../sass/_pivot-global.scss */
a:link,
a:visited {
  text-decoration: none;
  color: #1CA9E7;
}

/* line 59, ../sass/_pivot-global.scss */
a:hover,
a:active {
  text-decoration: underline;
}

/* Header */
/* line 64, ../sass/_pivot-global.scss */
#site-header {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 100%;
}

/* line 70, ../sass/_pivot-global.scss */
#site-header .nav {
  float: left;
  width: 100%;
}

/* line 75, ../sass/_pivot-global.scss */
#site-header .nav li {
  float: left;
}

/* line 79, ../sass/_pivot-global.scss */
#site-header .nav li a {
  font-size: 14px;
  display: block;
  padding: 1em;
}

/* line 85, ../sass/_pivot-global.scss */
#site-header .block-search {
  float: left;
}

/* Footer */
/* line 90, ../sass/_pivot-global.scss */
#site-footer {
  background: #424242 url(../images/secondary-background.gif) left top repeat;
  color: #ccc;
  float: left;
  width: 100%;
  position: relative;
  z-index: 2;
  overflow: hidden;
  box-shadow: inset 0px 10px 20px 0px rgba(0, 0, 0, 0.25);
  font-size: 13px;
}
/* line 102, ../sass/_pivot-global.scss */
#site-footer .site-wrapper {
  padding: 1em 0;
}
/* line 106, ../sass/_pivot-global.scss */
#site-footer a {
  color: #ccc;
}
/* line 110, ../sass/_pivot-global.scss */
#site-footer .nav {
  float: left;
  display: table;
  margin-top: 2em;
  margin-bottom: 2em;
  margin-right: 1.5em;
  line-height: 45px;
}
/* line 122, ../sass/_pivot-global.scss */
#site-footer .nav .headline,
#site-footer .nav .menu,
#site-footer .nav .menu li {
  float: left;
}
/* line 126, ../sass/_pivot-global.scss */
#site-footer .nav .headline {
  font-size: 13px;
  line-height: 45px;
  font-family: "Apercu Mono Regular", monospace;
  margin: 0;
}
/* line 133, ../sass/_pivot-global.scss */
#site-footer .nav .menu {
  margin: 0;
  padding: 0;
}
/* line 136, ../sass/_pivot-global.scss */
#site-footer .nav .menu li {
  list-style-type: none;
  list-style-image: none;
  margin-left: 12px;
  margin-bottom: 0;
}
/* line 146, ../sass/_pivot-global.scss */
#site-footer .footer-main-nav {
  float: none;
  margin: 1em auto 2em auto;
  line-height: 1.5em;
}
/* line 151, ../sass/_pivot-global.scss */
#site-footer .footer-main-nav .headline {
  display: none;
}
/* line 152, ../sass/_pivot-global.scss */
#site-footer .footer-main-nav .menu {
  margin: 0;
  padding: 0;
}
/* line 153, ../sass/_pivot-global.scss */
#site-footer .footer-main-nav .menu li {
  float: left;
  text-align: center;
  margin-left: 0;
}
/* line 158, ../sass/_pivot-global.scss */
#site-footer .footer-main-nav .menu li a {
  padding: 0 28px;
}
/* line 162, ../sass/_pivot-global.scss */
#site-footer .secondary {
  display: table;
  float: none;
  width: auto;
  margin: 2em auto;
  line-height: 45px;
}
/* line 172, ../sass/_pivot-global.scss */
#site-footer .footer-follow-nav a,
#site-footer .footer-apps-nav a {
  display: inline-block;
  margin: 0;
  width: 38px;
  height: 38px;
  white-space: nowrap;
  text-indent: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
}
/* line 184, ../sass/_pivot-global.scss */
#site-footer .facebook {
  background-image: url(../images/footer_social_facebook.png);
}
/* line 188, ../sass/_pivot-global.scss */
#site-footer .twitter {
  background-image: url(../images/footer_social_twitter.png);
}
/* line 192, ../sass/_pivot-global.scss */
#site-footer .youtube {
  background-image: url(../images/footer_social_youtube.png);
}
/* line 196, ../sass/_pivot-global.scss */
#site-footer .googleplus {
  background-image: url(../images/footer_social_googleplus.png);
}
/* line 200, ../sass/_pivot-global.scss */
#site-footer .ios-app {
  background-image: url(../images/footer_apps_apple.png);
}
/* line 204, ../sass/_pivot-global.scss */
#site-footer .android-app {
  background-image: url(../images/footer_apps_android.png);
}
/* line 210, ../sass/_pivot-global.scss */
#site-footer .footer-participant-nav a {
  display: inline-block;
  white-space: nowrap;
  text-indent: 100%;
  overflow: hidden;
  background-repeat: no-repeat;
}
/* line 218, ../sass/_pivot-global.scss */
#site-footer .footer-participant-nav .participant-media {
  background-image: url(../images/footer_participant_participant.png);
  width: 113px;
  height: 24px;
  vertical-align: middle;
}
/* line 225, ../sass/_pivot-global.scss */
#site-footer .footer-participant-nav .takepart {
  background-image: url(../images/footer_participant_takepart.png);
  width: 45px;
  height: 45px;
}
/* line 231, ../sass/_pivot-global.scss */
#site-footer .footer-participant-nav .pivot {
  background-image: url(../images/footer_participant_pivot.png);
  width: 48px;
  height: 16px;
}
/* line 238, ../sass/_pivot-global.scss */
#site-footer #copyright {
  clear: both;
  font-size: 13px;
  margin-bottom: 1em;
}
/* line 243, ../sass/_pivot-global.scss */
#site-footer #copyright p {
  margin: 0;
  text-align: center;
}

/* ============================================================
|| 2.) Reusables/Modules
============================================================ */
/* Skip link */
/* "Buttons" */
/* line 283, ../sass/_pivot-global.scss */
a.important:link,
a.important:visited {
  text-decoration: none;
  color: #fff;
  background-color: #01bf9e;
  font-size: 16px;
  line-height: 18px;
  white-space: nowrap;
  display: inline-block;
  padding: 8px 39px 8px 19px;
  border-radius: 3px;
  text-transform: uppercase;
  position: relative;
  box-shadow: 0 3px 0 rgba(50, 50, 50, 0.75);
}

/* line 298, ../sass/_pivot-global.scss */
a.important:after {
  content: " ";
  display: block;
  position: absolute;
  right: 19px;
  top: 50%;
  margin-top: -9px;
  background-repeat: no-repeat;
  background-image: url(../images/rightarrow_small.png);
  width: 11px;
  height: 18px;
  -webkit-transition: right .1s linear .1s;
  transition: right .1s linear .1s;
}

/* line 313, ../sass/_pivot-global.scss */
a.important:hover:after {
  right: 10px;
}

/* line 317, ../sass/_pivot-global.scss */
a.important .pivot {
  display: inline-block;
  background-repeat: no-repeat;
  background-image: url(../images/pivot_small_white.png);
  width: 48px;
  height: 16px;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  vertical-align: bottom;
}

/* Top? Schedule */
/* line 330, ../sass/_pivot-global.scss */
.upcoming {
  position: absolute;
  width: 100%;
  z-index: 5;
  background: black url(../images/secondary-background.gif) left top repeat;
  height: 57px;
  color: #fff;
  display: table;
  box-shadow: inset 0px -10px 20px 0px rgba(0, 0, 0, 0.25);
}

/* line 342, ../sass/_pivot-global.scss */
.upcoming a {
  color: #01bf9e;
}

/* line 346, ../sass/_pivot-global.scss */
.upcoming .inner {
  display: table-row;
}

/* line 350, ../sass/_pivot-global.scss */
.upcoming .headline a {
  font-size: 24px;
  text-transform: uppercase;
  font-weight: bold;
  font-style: italic;
  padding: 5px 25px 5px 10px;
  position: relative;
  text-align: right;
  white-space: nowrap;
  color: #fff;
}

/* line 362, ../sass/_pivot-global.scss */
.upcoming .headline a:after {
  content: " ";
  display: block;
  position: absolute;
  right: 5px;
  top: 50%;
  margin-top: -11px;
  width: 11px;
  height: 22px;
  background-repeat: no-repeat;
  background-image: url(../images/rightarrow_medium.png);
  vertical-align: middle;
}

/* line 379, ../sass/_pivot-global.scss */
.upcoming .headline,
.upcoming .times,
.upcoming .full-schedule,
.upcoming .times .item {
  display: table-cell;
  vertical-align: middle;
}

/* line 384, ../sass/_pivot-global.scss */
.upcoming .times .item {
  font-family: "Apercu Mono Regular", monospace, sans-serif;
  font-size: 14px;
  position: relative;
  text-align: center;
  padding: 0 5px;
}

/* line 392, ../sass/_pivot-global.scss */
.upcoming .times .inner {
  display: table;
  margin: auto;
}

/* line 397, ../sass/_pivot-global.scss */
.upcoming .times .item:before {
  content: " ";
  width: 1px;
  height: 100%;
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  background: -webkit-linear-gradient(top, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.25) 40%, rgba(255, 255, 255, 0.25) 60%, rgba(255, 255, 255, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.25) 40%, rgba(255, 255, 255, 0.25) 60%, rgba(255, 255, 255, 0) 100%);
  /* W3C */
}

/* line 410, ../sass/_pivot-global.scss */
.upcoming .times .item:first-child:before {
  display: none;
}

/* line 414, ../sass/_pivot-global.scss */
.upcoming .times .item:after {
  content: " ";
  width: 1px;
  display: block;
  height: 100%;
  position: absolute;
  right: 0;
  top: 0;
  background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 40%, rgba(0, 0, 0, 0.25) 60%, rgba(0, 0, 0, 0) 100%);
  /* Chrome10+,Safari5.1+ */
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0) 0%, rgba(0, 0, 0, 0.25) 40%, rgba(0, 0, 0, 0.25) 60%, rgba(0, 0, 0, 0) 100%);
  /* W3C */
}

/* line 428, ../sass/_pivot-global.scss */
.upcoming .times .time,
.upcoming .times .show {
  padding: 0 5px;
}

/* line 432, ../sass/_pivot-global.scss */
.upcoming .full-schedule {
  padding: 0 5px;
}

/* Pretty form selects */
/* line 438, ../sass/_pivot-global.scss */
.tpselect_wrapper {
  display: inline-block;
  height: 30px;
  line-height: 30px;
  background: #f2f2f2;
  border-radius: 2px;
  box-shadow: 0 3px 0 rgba(50, 50, 50, 0.75);
  vertical-align: bottom;
}

/* line 448, ../sass/_pivot-global.scss */
.tpselect_wrapper.tpselect_focus {
  background: #000;
  color: #fff;
}

/* line 453, ../sass/_pivot-global.scss */
.tpselect_wrapper select {
  height: 100%;
  width: 100%;
}

/* line 458, ../sass/_pivot-global.scss */
.tpselect_wrapper .tpselect_value {
  position: relative;
  display: block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  padding: 0 46px 0 11px;
  font-size: 13px;
  font-family: "Apercu Mono Regular", monospace;
}

/* line 469, ../sass/_pivot-global.scss */
.tpselect_wrapper .tpselect_value:after {
  display: block;
  content: " ";
  background-image: url(../images/form_dropdown_button.png);
  width: 35px;
  height: 30px;
  position: absolute;
  right: 0;
  top: 0;
}

/* Find pivot right rail */
/*
 * DEV CSS RULES
 */
/* line 562, ../sass/_pivot-global.scss */
#themer-toggle {
  z-index: 99999;
}

/*
 * Homepage Styles for Pivot.tv
 */
/* Home Page
------------------------------------------------------------ */
/* line 8, ../sass/_pivot-homepage.scss */
body.front {
  height: 100%;
}

/* line 12, ../sass/_pivot-homepage.scss */
.front #site-header {
  display: none;
}

/* line 16, ../sass/_pivot-homepage.scss */
.front #main {
  min-height: 100%;
  padding: 0;
  background: transparent;
}

/* line 23, ../sass/_pivot-homepage.scss */
.front #wrapper {
  width: auto;
  height: 100%;
}

/* line 28, ../sass/_pivot-homepage.scss */
.front #what-is-pivot .video {
  margin-bottom: 10px;
}

/* line 32, ../sass/_pivot-homepage.scss */
.front #what-is-pivot > .headline {
  font-size: 1.2em;
  margin-bottom: 15px;
  text-transform: uppercase;
}

/* line 38, ../sass/_pivot-homepage.scss */
.front #what-is-pivot .headline .pivot {
  background-repeat: no-repeat;
  background-image: url(../images/pivot_medium_black_colored.png);
  width: 80px;
  height: 28px;
  display: inline-block;
  white-space: nowrap;
  text-indent: 100%;
  overflow: hidden;
  vertical-align: text-bottom;
}

/* line 50, ../sass/_pivot-homepage.scss */
.front #what-is-pivot .cms {
  font-size: 14px;
}

/* line 54, ../sass/_pivot-homepage.scss */
.front #home-promos {
  margin: 1em 0;
}

/* line 58, ../sass/_pivot-homepage.scss */
.front #home-promos {
  margin: 1em 0;
}

/* line 62, ../sass/_pivot-homepage.scss */
.front #home-promos .promo {
  float: left;
  width: 15em;
  position: relative;
}

/* line 68, ../sass/_pivot-homepage.scss */
.front #home-promos .promo img {
  display: block;
}

/* line 72, ../sass/_pivot-homepage.scss */
.front #home-promos .promo .info {
  background-color: rgba(255, 255, 255, 0.8);
  width: 234px;
  height: 98px;
  position: absolute;
  left: 0;
  bottom: 0;
  line-height: 98px;
  padding: 0 36px;
}

/* line 83, ../sass/_pivot-homepage.scss */
.front #home-promos .promo .info-inner {
  display: inline-block;
  *display: inline;
  zoom: 1;
  line-height: 1;
  vertical-align: middle;
}

/* line 89, ../sass/_pivot-homepage.scss */
.front #home-promos .promo .headline {
  font-size: 1.2em;
  color: #0084a9;
  font-style: italic;
  font-weight: bold;
}

/* line 96, ../sass/_pivot-homepage.scss */
.front #home-promos .promo .time {
  font-size: 13px;
  font-family: "Apercu Mono Regular", monospace;
}

/* line 101, ../sass/_pivot-homepage.scss */
.front #home-promos .promo:nth-child(even) {
  float: right;
}

@media (max-width: 979px) {
  /* line 7, ../sass/_pivot-responsive.scss */
  .upcoming .headline {
    white-space: normal;
  }

  /* line 11, ../sass/_pivot-responsive.scss */
  .upcoming .full-schedule .important {
    white-space: normal;
  }
}
/* iPad vertical */
@media (max-width: 767px) {
  /* line 18, ../sass/_pivot-responsive.scss */
  .upcoming .headline {
    display: none;
  }
}
/* iPhone vertical */
@media (max-width: 480px) {
  /* line 25, ../sass/_pivot-responsive.scss */
  .upcoming .times {
    display: none;
  }
}
/* iPhone vertical */
