//
// Page
//
$page-width: 980px;
$breakpoint-mobile: 320px;
$breakpoint-tablet: 768px;
$breakpoint-desktop: 980px;

/*
 *TakePart Colors
 */
$tpl-blue: #3bb5cb;  //new tpl blue
$light-blue: #00B5CC; //takepart live blue
$blue: #0080A3; // blue used for text and icons
$light-mint: #01BF9E;  //mint used for graphics
$mint: #018B73;  // mint used for text and icons
$dark-gray: #5A5A5A;
$light-gray: #949494;
$gray-background: #EEE;
$gray-line: #CCC;
$burnt-orange: #DD7132;
$flashcard-link: #8F8F8F;
$flashcard-active: #C40066;